PY - Comparison Operators

In [1]:
2 == 2

True

In [2]:
2 == 1

False

Single = sign, is assigning variable

In [3]:
'hello' == 'bye'

False

Capitalization count B, lower case false

In [4]:
'Bye' == 'bye'

False

Py types - String =2 is the number 2

In [5]:
'2' == 2

False

In [6]:
2.0 == 2

True

In [7]:
3 != 3

False

4 not equal to 5

In [8]:
4 != 5

True

In [9]:
2 > 1

True

In [10]:
1 > 2

False

In [11]:
1 < 2

True

In [12]:
2 < 5

True

2 greater equal =

In [13]:
2 >= 2

True

In [14]:
4 <= 1

False

Chaining Comparison Operators

Logical Operators - and, or, not

In [15]:
1 < 2

True

In [16]:
2 > 3

False

following in logical way

In [17]:
1 < 2 < 3

True

In [18]:
1 < 2 > 3

False

In [19]:
1 < 2 and 2 > 3

False

In [21]:
1 < 2 and 2 < 3

True

In [22]:
'h' == 'h' and 2 == 2

True

Creates more readability

In [23]:
('h' == 'h') and (2 == 2)

True

In [24]:
1 == 1 or 2 == 2

True

In [25]:
100 == 1 or 2 == 2

True

In [26]:
100 == 1 or 2 == 200

False

In [27]:
1 == 1

True

In [28]:
not(1 == 1)

False

In [29]:
not 1 == 1

False

In [30]:
400 > 5000

False

In [31]:
not 400 > 5000

True

if, elif, else Statements

if True: then hit enter- second line indentation will come

In [32]:
if True:
    print('ITS TRUE!')

ITS TRUE!

If Comparison Operators

In [33]:
if 3>2:
    print('ITS TRUE!')

ITS TRUE!

Adding Variable

In [34]:
hungry = True

if hungry:
    print('FEED ME!')

FEED ME!

In [35]:
hungry = False

if hungry:
    print('FEED ME!')

Above false statement didnt work - if adding else statement

In [37]:
hungry = False

if hungry:
    print('FEED ME!')
else:
    print("Im not hungry")

Im not hungry

If condition if True - If, else condition to prove - False

In [38]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print("Im not hungry")

FEED ME!

In [39]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are Cool!")
else:
    print("I do not know much.")

I do not know much.

Use another condition elif- lets pass that

In [40]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are Cool!")
elif loc == 'Bank':
    print("Money is cool!")
else:
    print("I do not know much.")

Money is cool!

In [41]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are Cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the Store!")
else:
    print("I do not know much.")

Money is cool!

if we change the condition

In [42]:
loc = 'Store'

if loc == 'Auto Shop':
    print("Cars are Cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the Store!")
else:
    print("I do not know much.")

Welcome to the Store!

In [43]:
name = 'Sammy'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

Hello Sammy

In [44]:
name = 'Frankie'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

Hello Frankie!

In [45]:
name = 'Deepti'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

What is your name?

For Loops in Py - Iterable over the object

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

you can change the variable nm - num, jelly

In [3]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [4]:
for jelly in mylist:
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

print out the evn num in list - create a control flow

In [5]:
for num in mylist:
   # Check for even
   if num % 2 == 0:
        print(num)

2
4
6
8
10

Can create odd num with formatting by combining 4 Loops

In [6]:
for num in mylist:
   # Check for even
   if num % 2 == 0:
        print(num)
   else:
       print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [7]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

Below is Running tally of num, sum and for

In [8]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

create a string in for letter

In [9]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

you can also write it without assigning variable to string

In [11]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [12]:
for love in 'Hello World':
    print(love)

H
e
l
l
o

W
o
r
l
d

In [14]:
for love in 'Hello World':
    print('Cool')

Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool

In [15]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [16]:
mylist = [(1, 2), (3, 4), (5, 6), (7, 8)]

In [17]:
len(mylist)

4

In [18]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

Tupple in packing

In [19]:
for (a, b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [20]:
for (a, b) in mylist:
    print(a, b)

1 2
3 4
5 6
7 8

In [21]:
for a, b in mylist:
    print(a)

1
3
5
7

In [22]:
for a, b in mylist:
    print(b)

2
4
6
8

In [23]:
mylist = [(1,2,3), (5,6,7), (8,9,10)]

In [24]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [25]:
for a,b,c in mylist:
    print(b)

2
6
9

iterate through Dict and items - along with assigning value to key

In [28]:
d = {'k1' :1,'k2':2, 'k3':3}
     
for item in d:        
     print(item)

k1
k2
k3

In [29]:
d = {'k1' :1,'k2':2, 'k3':3}
     
for item in d.items():      
     print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [30]:
d = {'k1' :1,'k2':2, 'k3':3}
     
for key,value in d.items():      
     print(value)

1
2
3

In [31]:
d = {'k1' :1,'k2':2, 'k3':3}
     
for key,value in d.items():      
     print(key)

k1
k2
k3

In [33]:
d = {'k1' :1,'k2':2, 'k3':3}
     
for value in d.values():      
     print(value)

1
2
3

While Loops in PY

Create a variable

In [1]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

Ethical way of writing - x += 1 instead of x = x + 1

In [2]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [3]:
x = 50

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('X IS NOT LESS THAN 5')

X IS NOT LESS THAN 5

break, continue, pass

We can use break, continue and pass statements in our loops to add additional functionality for various cases. The three statements are defined by:

break   : Breaks out of the current closet enclosing loops.
continue: Goes to the top of the closet enclosing loops.
pass    : Does nothing at all.

In [4]:
x = [1,2,3,]

for item in x:
    # comment

IndentationError: expected an indented block (2082283761.py, line 4)

In [5]:
x = [1,2,3,]

for item in x:
    # comment
    pass

print('end of my script')

end of my script

pass is nesessary

In [6]:
x = [1,2,3,]

for item in x:
    # comment
   

print('end of my script')

IndentationError: expected an indented block (1764516006.py, line 7)

In [7]:
mystring = 'Sammy'

In [8]:
for letter in mystring:
    print(letter)

S
a
m
m
y

if i dont want to letter a in sammy

In [9]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [12]:
mystring = 'Smmy'

In [13]:
for letter in mystring:
    print(letter)

S
m
m
y

In [15]:
mystring = 'Sammy'

In [16]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [17]:
x = 0

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

if i want to break 2

In [18]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [21]:
x = 2

while x < 5:
    
     break  
    print(x)
    x += 1

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

Useful Operators in PY

In [22]:
mylist = [1,2,3]

2 ways of doing it - 1st iterate it - shift+tab(all the ranges

In [23]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

above it generated the numbers

Starting index position

In [24]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

3rd argument for step size

In [25]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [26]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [27]:
range(0,11,2)

range(0, 11, 2)

want list of num, cast it to a list

In [28]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

Another release function - illumenarate

In [31]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'. format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [32]:
index_count = 0
word ='abcde'

for letter in word:
    
     print(word[index_count])
     index_count += 1

a
b
c
d
e

In [33]:

word ='abcde'

for item in enumerate(word):
    
     print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [34]:
word ='abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [35]:
word ='abcde'

for index,letter in enumerate(word):
    print(index,letter)
    print('\n')

0 a


1 b


2 c


3 d


4 e

In [36]:
word ='abcde'

for index,letter in enumerate(word):
    print(index,letter)
    print('\t')

0 a

1 b

2 c

3 d

4 e

In [37]:
word ='abcde'

for index,letter in enumerate(word):
    print(index,letter)

0 a
1 b
2 c
3 d
4 e

Zip function - Zips together

In [38]:
mylist1 = [1,2,3]
mylist2 =['a','b','c']

In [39]:
zip(mylist1,mylist2)

Above zip - ur zip is waiting for you at thi slocation in your memory

In [40]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [41]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [42]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

Zip will always take the shortest - Very IMP - inspite of adding 456

In [43]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [44]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [46]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [47]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In Operator - to chk object in in list

In [48]:
'x' in [1,2,3]

False

Below is true coz, x was in the list

In [49]:
'x' in ['x','y','z']

True

In [50]:
2 in [1,2,3]

True

In [51]:
'a' in 'a world'

True

This also works in Dict

In [52]:
'mykey' in {'mykey':345}

True

if its in value or items

In [53]:
d = {'mykey':345}

345 in d.values()

True

In [54]:
d = {'mykey':345}

345 in d.keys()

False

Mathematical and minimum liabrary - already built in functions isPY

In [55]:
mylist = [10,20,30,40,100]

In [56]:
min(mylist)

10

In [57]:
max(mylist)

100

1st built in function of liabrary - import function like - hit the tab button after import

In [58]:
from random import shuffle

In [59]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [60]:
shuffle(mylist)

In [62]:
mylist

[4, 10, 3, 8, 5, 1, 2, 6, 9, 7]

double you hit it can reshuffle too

In [64]:
random_list = shuffle(mylist)

In [65]:
random_list

In [66]:
type(random_list)

NoneType

In [67]:
mylist

[8, 9, 10, 7, 4, 1, 2, 6, 5, 3]

Grabbing integer

In [68]:
from random import randint

In [69]:
randint(0,100)

61

In [70]:
randint(0,100)

39

In [71]:
mynum = randint(0,10)

In [72]:
mynum

6

Accept user input

In [ ]:
input('Enter a number here: ')