How to accept user input use : space, close the bracket - enter the number and hit enter, you will see it

Input accept only String

In [1]:
input('Enter a number here: ')

Enter a number here: 50

'50'

A bit diff down there, up was a num, here down is the name with ?

In [2]:
result = input('What is your name?')

What is your name?Deepti

In [3]:
result

'Deepti'

String version 30

In [4]:
result = input('Favourite number: ')

Favourite number: 30

In [5]:
result

'30'

In [6]:
type(result)

str

In [7]:
float(result)

30.0

In [8]:
int(result)

30

In [9]:
result

'30'

You can rap it too

In [12]:
result = int(input('Favorite number: '))

Favorite number: 20

In [13]:
type(result)

int

List Comprehensions in PY

In [14]:
mystring = 'hello'

In [15]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [16]:
mylist

['h', 'e', 'l', 'l', 'o']

In [17]:
mylist = [letter for letter in mystring]

In [18]:
mylist

['h', 'e', 'l', 'l', 'o']

u can give nay variable name x, y,babhhh

In [28]:
mylist = [x for x in 'word']

In [20]:
mylist

['w', 'o', 'r', 'd']

In [24]:
mylist = [bggbgb for bggbgb in 'wordtwo']

In [25]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [26]:
mylist = [x for x in range(0,11)]

In [27]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
mylist = [num for num in range(0,11)]

In [30]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

if you wanna perform sq. to every num

In [31]:
mylist = [num**2 for num in range(0,11)]

In [32]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

If statement - even num

In [33]:
mylist = [x for x in range(0,11) if x%2==0]

In [34]:
mylist

[0, 2, 4, 6, 8, 10]

Sq. of the even num

In [35]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [36]:
mylist

[0, 4, 16, 36, 64, 100]

celcius to Fahrenheit conversion formula

In [37]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [38]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [39]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp + 32))

In [40]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

if statement else in ODD

In [42]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [43]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [44]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

2 multiply by each of these num - 200,400,600 4 multiply by each of these num- 400,800,1200, 6 multiply by each of these num-600,1200,1800

In [45]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [46]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [47]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [48]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [49]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

Methods in particular Functions

In [50]:
mylist = [1,2,3]

We can append new item to a list

In [51]:
mylist.append(4)

In [52]:
mylist

[1, 2, 3, 4]

in Pop it pops out the last item of the list

In [53]:
mylist.pop()

4

In [54]:
mylist

[1, 2, 3]

1st method .tab look for the key -insert - shift+tab 2nd method just type help built in help function

In [55]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

1st method .tab look for the key -insert -

Intro to Functions

Def key Very Imp - OPens whole new doors
def name_of_function():
''' - 3 multiline 3 docstring
write a code too - print(''Hello''+name)

In [56]:
def say_hello():
    print("Hello")

In [57]:
say_hello()

Hello

Add some more print statements to it

In [58]:
def say_hello():
    print("Hello")
    print("are")
    print("you")

In [59]:
say_hello()

Hello
are
you

if you call it without print(), it will not call any function

In [60]:
say_hello

In [61]:
def say_hello(name):
    print(f'Hello {name}')

In [62]:
say_hello('Deepti')

Hello Deepti

Below both would have to match up here

In [63]:
def say_hello(jelly):
    print(f'Hello {jelly}')

In [64]:
say_hello('jelly')

Hello jelly

CHk for more below

In [65]:
def say_hello(name):
    print(f'Hello {name}')

In [66]:
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'name'

In [67]:
def say_hello(name):
    print(f'Hello {name}')

In [68]:
say_hello('Deepti')

Hello Deepti

Below is also the 2nd method, by Default

In [69]:
def say_hello(name ='Default'):
    print(f'Hello {name}')

In [70]:
say_hello()

Hello Default

Using Return Key word

In [71]:
def add_num(num1,num2):
    return num1+num2

You are using return so youre assigning it

In [72]:
add_num(10,20)

30

In [73]:
result = add_num(10,20)

In [74]:
result

30

Below are the 2 functions abd we cannot see the Output results too

In [75]:
def print_result(a,b):
    print(a+b)

In [77]:
def return_result(a,b):
    return a+b

In [78]:
print_result(10,20)

30

In [79]:
result = print_result(10,20)

30

You will not get anything back, in result,bcoz of result = print_result(10,20)

In [80]:
result

In [81]:
type(result)

NoneType

In [82]:
return_result(10,20)

30

In [83]:
result = return_result(10,20)

In [84]:
result

30

Another easier way

In [85]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [86]:
result = myfunc(10,20)

30

In [87]:
result

30

In [88]:
def sum_numbers(num1,num2):
    return num1+num2

In [89]:
sum_numbers(10,20)

30

In [90]:
sum_numbers('10','20')

'1020'

Logic with PY functions

Mod Operators

In [1]:
2 % 2

0

In [2]:
3 % 2

1

In [3]:
41 % 40

1

In [4]:
20 % 2

0

In [5]:
20 % 2 == 0

True

In [7]:
21 % 2 == 0

False

Pass in the argument() inside Boolean chk

In [8]:
def even_check(number):
    result = number % 2 == 0
    return result

In [9]:
even_check(20)

True

In [10]:
even_check(21)

False

Pass a argument in diff way input 8 or inp 11

In [11]:
def even_check(number):
       return number  % 2 == 0

In [12]:
# RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST

for True - Boolean -Loop through entire num - Pass means dont do anything

In [14]:
def check_even_list(num_list):
    
    for number in num_list :
        if number % 2 == 0 :
           return True
        else:
            pass

In [16]:
check_even_list([1,3,5])

Even number - atleast 1 even num is present

In [17]:
check_even_list([2,3,5])

True

In [18]:
check_even_list([2,1,1,1])

True

In [19]:
check_even_list([1,1,1,2])

True

It checks false Boolean

In [20]:
def check_even_list(num_list):
    
    for number in num_list :
        if number % 2 == 0 :
           return True
        else:
            return False # WRONG !!!

In [25]:
check_even_list([1,2,5])

False

In [22]:
check_even_list([2,3,5])

True

In [23]:
check_even_list([2,1,1,1])

True

In [24]:
check_even_list([1,1,1,2])

False

In [26]:
def check_even_list(num_list):
    
    for number in num_list :
        if number % 2 == 0 :
           return True
        else:
            pass
        
        return False

In [27]:
check_even_list([1,3,5])

False

Chk if we wanna do all even num

In [36]:
def check_even_list(num_list):
    # return all the even numbers in a list
    
    # placeholder variables
    even_numbers = []
    
    for number in num_list :
        if number % 2 == 0 :
            even_numbers.append(number)
          
        else:
            pass
        
    return even_numbers

In [37]:
check_even_list([1,2,3,4,5])

[2, 4]

In [38]:
check_even_list([1,3,5])

[]

Functions and Tuple Unpacking

In [39]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

Printed Tuples here

In [40]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

Tuples unpacking - individual items

In [41]:
for ticker, price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

If i wanna see, what 10% price look like

In [42]:
for ticker, price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

Below is function, function can also look like tuples

In [53]:
work_hours =[('Abby',100),('Billy',4000),('Cassie',800)]

In [54]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
            

    #Return
    return(employee_of_month,current_max)

In [55]:
employee_check(work_hours)

('Billy', 4000)

In [56]:
result = employee_check(work_hours)

In [57]:
result

('Billy', 4000)

In [58]:
name,hours = employee_check(work_hours)

In [59]:
result

('Billy', 4000)

In [60]:
name

'Billy'

In [61]:
hours

4000

We havent mentioned any location in there

In [63]:
name,hours,location = employee_check(work_hours)

ValueError: not enough values to unpack (expected 3, got 2)

In [64]:
item = employee_check(work_hours)

In [65]:
item

('Billy', 4000)

# Interactions between PY Functions

Lets make an example list below

In [66]:
example = [1,2,3,4,5,6,7]

In [71]:
from random import shuffle

It does acts an shuufle list

In [72]:
shuffle(example)

In [73]:
example

[3, 4, 1, 5, 2]

Built in shuffle from random value

In [74]:
result = shuffle(example)

In [75]:
result

Create my own function

In [76]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

Each time you run a shuffle list it will gv diff output

In [79]:
result = shuffle_list(example)

In [80]:
result

[5, 4, 1, 2, 3]

Below is hidden Capital O

In [81]:
mylist = ['','O','']

In [83]:
 shuffle_list(mylist)

['', '', 'O']

Function called Player Guess

In [3]:
def player_guess():
    
    guess=''
    
    while guess not in ['0','1','2']:
        guess = input("Pick a number: 0,1, or 2")
        
    return int(guess)

player_guess() entree -first run and then hit enter, again hit enter- output 1

In [4]:
player_guess()

Pick a number: 0,1, or 28
Pick a number: 0,1, or 21

1

In [5]:
myindex = player_guess()

Pick a number: 0,1, or 22

In [6]:
myindex

2

In [7]:
def check_guess(mylist,guess):
    if mylist[guess] =='O':
        print("Correct!")
    else:
        print("Wrong guess!")
        print(mylist)

Little bit of logic in final script

In [27]:
# INITIAL LIST
mylist = ['','O','']

# SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

# USER GUESS
guess = player_guess()

# CHECK GUESS
check_guess(mixedup_list,guess)

NameError: name 'shuffle_list' is not defined

*args and **kwargs in - Single * and ** stands for keywords Arguments

Below we can assign apart from a,b -a,b,c can also assign more parameters

In [1]:
def myfunc(a,b):
    # Returns 5% of the sum a and b
    return sum((a,b)) * 0.05

Pass in some random numbers

In [2]:
myfunc(40,60)

5.0

In [3]:
def myfunc(a,b,c=0):
    # Returns 5% of the sum a and b and c
    return sum((a,b,c)) * 0.05

In [4]:
myfunc(40,60,80)

9.0

In [5]:
def myfunc(a,b,c=0,d=0,e=0):
    # Returns 5% of the sum a and b and c
    return sum((a,b,c,d,e)) * 0.05

In [6]:
myfunc(40,60,100,100)

15.0

Above can only take 2 to 5 arguments ie: till e

In [7]:
def myfunc(*args):
    return sum(args) * 0.05

In [8]:
myfunc(40,60)

5.0

In [9]:
myfunc(40,60,100,1,34)

11.75

In [10]:
def myfunc(*args):
    print(args)

In [11]:
myfunc(40,60,100,1,34)

(40, 60, 100, 1, 34)

*args can be also named as *spam- it has exactly same effect

In [12]:
def myfunc(*spam):
    print(spam)

In [13]:
myfunc(40,60,100,1,34)

(40, 60, 100, 1, 34)

Tuple in function

In [19]:
def myfunc(*args):
    for item in args:
        print(item)

In [20]:
myfunc(40,60,100,1,34)

40
60
100
1
34

**kwargs

In [22]:
def myfunc(**kwargs):
    if 'fruit'in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [24]:
myfunc(fruit='apple', veggie = 'lettuce')

My fruit of choice is apple

Py is no longer complaining - thats the argument for **kwargs

if we argue complaining its just a dict

In [25]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit'in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [26]:
myfunc(fruit='apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [27]:
def myfunc(**jelly):
    print(jelly)

In [28]:
myfunc(fruit='apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}

U can set an another arguments by----

In [29]:
def myfunc(*args,**kwargs):
    
    print('I would like {} {}'.format(args[0],kwargs['food']))

Pass in some key word for kwargs

In [30]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

I would like 10 eggs

key words arguments here

In [31]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [34]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

below is wrong practice

In [33]:
def myfunc(**kwargs,*args):
    print(kwargs)
    print(args)
    print('I would like {} {}'.format(kwargs[0],args['food']))

SyntaxError: invalid syntax (3968939425.py, line 1)

In [35]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

Function Practice Problems Sol- Level 1

LEVEL 1 PROBLEMS
# OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
# old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [3]:
def old_macdonald(name):
    
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter + inbetween + fourth_letter + rest

In [4]:
# Check
old_macdonald('macdonald')

'macdonald'

You can Uppercase macdonald too

In [5]:
def old_macdonald(name):
    
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [6]:
# Check
old_macdonald('macdonald')

'MacDonald'

Seperate in 2 halfs - in 2 diff ways

In [7]:
def old_macdonald(name):
    
    first_half = name[:3]
    second_half =name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [8]:
# Check
old_macdonald('macdonald')

'MacDonald'

MASTER YODA: Given a sentence, return a sentence with the words reversed
# master_yoda('I am home') --> 'home am I'
# master_yoda('We are ready') --> 'ready are We'

In [13]:
def master_yoda(text):
    wordlist = text.split()
    reverse_word_list = wordlist[::-1]
    return reverse_word_list

In [ ]:
# Check
master_yoda('I am home')

In [15]:
# Check
master_yoda('We are ready')

['ready', 'are', 'We']

Can also Join after String

In [16]:
mylist = ['a','b','c']

In [17]:
'--'.join(mylist)

'a--b--c'

In [18]:
mylist = ['a','b','c']

In [19]:
'++'.join(mylist)

'a++b++c'

In [20]:
def master_yoda(text):
    wordlist = text.split()
    reverse_word_list = wordlist[::-1]
    return' '.join(reverse_word_list)

In [21]:
# Check
master_yoda('I am home')

'home am I'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
# almost_there(90) --> True
# almost_there(104) --> True
# almost_there(150) --> False
# almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [22]:
def almost_there(n):
    
    return (abs(100-n) <=10) or  (abs(200-n) <=10)

In [24]:
# Check
almost_there(104)

True

In [25]:
# Check
almost_there(150)

False

In [26]:
# Check
almost_there(209)

True

LEVEL 2 PROBLEMS
FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

# has_33([1, 3, 3]) → True
# has_33([1, 3, 1, 3]) → False
# has_33([3, 1, 3]) → False

In [29]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        
    return False

In [30]:
has_33([1,3,3])

True

In [31]:
has_33([1,3,1,3])

False

In [32]:
has_33([3,1,3])

False

2nd method

In [36]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3] 
            return True
        
    return False

SyntaxError: invalid syntax (439126104.py, line 4)

In [37]:
has_33([3,1,3])

False

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
# paper_doll('Hello') --> 'HHHeeellllllooo'
# paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [38]:
def paper_doll(text):
    result = ''
    
    for char in text:
        result += char * 3
    return result

In [39]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [42]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

2nd Method

In [43]:
def paper_doll(text):
    result = ''
    
    for char in text:
        result += char+char+char
    return result

In [44]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
# blackjack(5,6,7) --> 18
# blackjack(9,9,9) --> 'BUST'
# blackjack(9,9,11) --> 19

In [45]:
def blackjack(a,b,c):
    
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])-10 <=21:
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [51]:
def blackjack(a,b,c):
    
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <=31:
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [47]:
# Check 
blackjack(5,6,9)

20

In [52]:
# Check 
blackjack(9,9,9)

'BUST'

In [53]:
# Check
blackjack(9,9,11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
# summer_69([1, 3, 5]) --> 9
# summer_69([4, 5, 6, 7, 8, 9]) --> 9
# summer_69([2, 1, 6, 9, 11]) --> 14

In [54]:
def summer_69(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [55]:
# Check
summer_69([1, 3, 5])

9

In [56]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [57]:
# Check
summer_69([2, 1, 6, 9, 11])

14

CHALLENGING PROBLEMS
SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 # spy_game([1,2,4,0,0,7,5]) --> True
 # spy_game([1,0,2,4,0,5,7]) --> True
 # spy_game([1,7,2,0,4,5,0]) --> False

In [58]:
def spy_game(nums):

    code = [0,0,7,'x']
    # [0,7,'x']
    # [7,'x']
    # ['x'] lenght=1
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [59]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [60]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [61]:
# Check
spy_game([1,7,2,0,4,5,0])

False

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
# count_primes(100) --> 25

# By convention, 0 and 1 are not prime.

In [62]:
# count_primes(100) --> 25

In [63]:
def count_primes(num):
    
    
    # Check for 0 or 1 input
    if num < 2: 
        return 0
    #################
    # 2 or greater
    #################
    
    # Store our prime numbers
    primes = [2]
    # Counter going up to the input num
    x = 3
    
    # x is going through every number up to input num
    while x <= num:
        # Check if x is prime
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [64]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

BONUS: Here's a faster version that makes use of the prime numbers we're collecting as we go!

In [65]:
def count_primes2(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  # use the primes list!
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [66]:
count_primes2(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

Just for fun, not a real problem :)
# PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
# print_big('a')

# out:   *  
      * *
     *****
     *   *
     *   *

HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".

In [67]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [68]:
print_big('a')

  *
 * *
*****
*   *
*   *

Lambda Expressions, Map, and Filter
# Now its time to quickly learn about two built in functions, filter and map. Once we learn about how these operate, we can learn about the lambda expression, which will come in handy when you begin to develop your skills further!

# map function
# The map function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list. For example:

In [69]:
def square(num):
    return num**2

In [70]:
my_nums = [1,2,3,4,5]

you can also itrate it - all are squares

In [72]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

Another way, if you want your list back

In [73]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

For map - Shift+tab - u will get encrypted- map @ memory loc

In [71]:
map(square,my_nums)

The functions can also be more complex

In [75]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]

In [76]:
names = ['Andy','Eve','Sally']

In [77]:
list(map(splicer,names))

['even', 'E', 'S']

filter function
The filter function returns an iterator yielding those items of iterable for which function(item) is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [78]:
def check_even(num):
    return num % 2 == 0

In [79]:
mynums = [1,2,3,4,5,6,]

Wanna grab even num from list

Filter objects in your memory

In [80]:
filter(check_even,mynums)

U can also transform to a list

In [81]:
list(filter(check_even,mynums))

[2, 4, 6]

can iterate too

In [82]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In Lambda expression- why context are imp

lambda expression
One of Pythons most useful (and for beginners, confusing) tools is the lambda expression. lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

Function objects returned by running lambda expressions work exactly the same as those created and assigned by defs. There is key difference that makes lambda useful in specialized roles:

lambda's body is a single expression, not a block of statements.

The lambda's body is similar to what we would put in a def body's return statement. We simply type the result as an expression instead of explicitly returning it. Because it is limited to an expression, a lambda is less general that a def. We can only squeeze design, to limit program nesting. lambda is designed for coding simple functions, and def handles the larger tasks.
Lets slowly break down a lambda expression by deconstructing a function:

In [83]:
def square(num):
    result = num**2
    return result

In [87]:
square(2)

4

In [85]:
square(3)

9

We could simplify it:

In [86]:
def square(num):
    
    return num**2

In [88]:
square(2)

4

lambda

<function __main__.<lambda>>

# You wouldn't usually assign a name to a lambda expression, this is just for demonstration!
square = lambda num: num **2

In [89]:
square = lambda num: num ** 2

In [90]:
square(3)

9

So why would use this? Many function calls need a function passed in, such as map and filter. Often you only need to use the function you are passing in once, so instead of formally defining it, you just use the lambda expression. Let's repeat some of the examples from above with a lambda expression

In [91]:
list(map(lambda num: num ** 2, my_nums))

[1, 4, 9, 16, 25]

In [95]:
list(filter(lambda num:num%2 == 0,mynums))

[2, 4, 6]

In [96]:
names

['Andy', 'Eve', 'Sally']

You can take name too

In [97]:
map(lambda name:name[0],names)

You can take any variable too

In [99]:
list(map(lambda x:x[0],names))

['A', 'E', 'S']

Wanna reverse the actual names

In [ ]:
list(map(lambda x:x[0],names))