In [1]:
print("Welcome to Introduction to Python")
print("First Python Code...")

Welcome to Introduction to Python
First Python Code...

In [3]:
print("Welcome to \nIntroduction to Python")

Welcome to
Introduction to Python

In [4]:
print("Welcome to Introduction to Python", end="*")
print("First Python Code...")

Welcome to Introduction to Python*First Python Code...

In [5]:
print("Welcome to Introduction to Python", end="\nThis is the output of end\n")
print("First Python Code...")

Welcome to Introduction to Python
This is the output of end
First Python Code...

In [6]:
# Using Seperator = Sep

In [8]:
print("Welcome", "to", "Introduction", "to", "Python", sep="-")
print("First Python Code...")

Welcome-to-Introduction-to-Python
First Python Code...

In [9]:
print("Welcome", "to", "Introduction", "to", "Python", sep="\n")
print("First Python Code...")

Welcome
to
Introduction
to
Python
First Python Code...

In [10]:
print("Welcome", "to", "Introduction", "to", "Python", sep="-*-", end="\n\n")
print("First Python Code...")

Welcome-*-to-*-Introduction-*-to-*-Python

First Python Code...

In [11]:
# String Literals
# Integer Literals

In [12]:
print("123")
print(123)

123
123

In [13]:
print(type("123"))
print(type(123))
print(type(12.3))

<class 'str'>
<class 'int'>
<class 'float'>

In [17]:
# Below 0o - Octal value
# Below 0x - Hexadecimalvalue

In [16]:
print(type(0o123))
print(type(0x123))

<class 'int'>
<class 'int'>

In [18]:
print(0o123)
print(0x123)

83
291

In [19]:
print(" I am a String")

 I am a String

In [20]:
print(type(" I am a String"))

<class 'str'>

In [21]:
print("My name is \"Kali C\" ")

My name is "Kali C"

In [22]:
print(True==False)
print(True<False)
print(True>False)

False
False
True

In [23]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [2]:
# Operators and Variables

In [3]:
# Basic Operators 
# We can use all the basic operators like addition(+), subtraction(-), Multiplication(*) and division(/) with print()

In [4]:
print(2+2)
print(5*2)
print(10-5)
print(5/2)
print(5//2)
print(4**3)
print(5%2)

4
10
5
2.5
2
64
1

In [5]:
# Integer Division

In [6]:
print(10//3)
print(10//3.0)
print(10.0//3)
print(10.0//3.0)

3
3.0
3.0
3.0

In [7]:
# Results are always rounded.
# Int / Int gives Interger results.
# Int and Float division gives floats results.
# Rounding always goes to the lesser interger.
# So Interger division is also called as floor division.

In [8]:
print(6//4)
print(6//-4.0)
print(6.0//-4)
print(6.0//4.0)

1
-2.0
-2.0
1.0

In [9]:
print(4//-2.0)
print(6//-9.0)

-2.0
-1.0

In [10]:
# Opertors and Binding
# The binding of the operators determine the order of computation in case of equal prioprity.
# Most of the Python's Operators have left sided binding. So the calculation of the expression is conducted from left to right.

In [11]:
print(25%7%2)
print(25%2%7)

0
1

In [12]:
print(2**2**3)

256

In [13]:
# The exponential operator has right binding

In [17]:
# Operators and Priorities
# Following table shows basic operators form highest to lowest prioprities.

# Priority      Operator 
# 1                +,-        unary
# 2                **      
# 3                *,/,%
# 4                +,-        binary

In [16]:
print(12*4+24/6-10//3)

49.0

In [18]:
# Operators and Parentheses

# Python follows same Parentheses rules: BODMAS

In [20]:
print((5*((25 % 13) + 100) / (2 * 13)) // 2)

10.0

In [21]:
# Variables
# Py variable have
# 1. Name
# 2. Value

In [22]:
# Shortcut OPerators

# Variable = Variable OP expression
# Variable OP = expression

In [23]:
i = 1
i = i + 2
print(i)

3

In [24]:
i = 1
i += 2
print(i)

3

In [28]:
# Centigrade to Fahrenheit conversion

# Centigrade to Fahrenheit are both units of temperature.
# Considering 1.C is approx. 32.F, write a program for this conversion.

In [31]:
# Converting Celsius To Fahrenheit using f=(c*9/5)+32

In [32]:
# Formula = (0.C * 9/5) + 32 = 32.F

In [34]:
C = 21
F = (C * 9/5) + 32
print(F)

69.8

In [35]:
# Formula (32.F - 32) * 5/9 = 0.C

In [36]:
F = 21
C = (F - 32) * 5/9
print(C)

-6.111111111111111

In [37]:
# Inch into Centimeter Concversion

# 1 Inch = 2.54 Centimetres

In [38]:
# Formula = Multiply the lenght value by 2.54

In [39]:
I = 3
CM = I * 2.54
print(CM)

7.62

In [41]:
# We can use round function to get a modidfied output

In [40]:
I = 3
CM = I * 2.54
print(round(CM,0), round(CM,1), round(CM,2), sep="\n")

8.0
7.6
7.62

In [44]:
# input() Function

# input() reads data entered by the user.
# It makes the program interactive

In [45]:
print("Enter a number : ", end="")
n = input()
print("You have entered " , n)

Enter a number : 12
You have entered  12

In [46]:
print("Enter a number : ", end="")
n = int(input())
print("Square of " , n, "is ", n**2)

Enter a number : 2
Square of  2 is  4

In [1]:
# Conditions and Conditional execution

In [2]:
# Comparision Operators

# Operator        Name                           Example
# 1. ==           Equal                           x==y
# 2. !=           Not Equal                       x!=y
# 3. >            Greater than                    x>y
# 4. <            Lesser than                     x<y
# 5. >=           Greater than or equal to        x>=y
# 6. <=           Lesser than or equal to         x<=y

In [3]:
x = 50
y = 30
print(x == y)

# Returns False bcoz 50 is not equal to 30

False

In [4]:
x = 50
y = 30
print(x != y)

# Returns True bcoz 50 is not equal to 30

True

In [5]:
x = 50
y = 30
z = 30

print(x > y)
print(x >= y)
print(x < y)
print(x <= y)
print(z == y)
print(z >= y)

True
True
False
False
True
True

In [6]:
# Conditional Execution - If Statement
#                False
# if   (<expr>) :
# true  <statement>
#       <statement>
#       ...
#         <statement>
#     <following_statement>

In [7]:
# Syntax :
#     The If keyword
#     One or more White spaces
#     An expression
#     A colon (:) followed by a newline
#     An intended instruction(s)

In [8]:
# Conditional Execution - Nested if else statement below:

In [9]:
a = 12
b = -9

if a > 0 :
    if b > 0:
        print("Both are Postive Numbers")
    else:
        print("a is Positive and b is Negative")
else:
    if b < 0 :
        print("Both are Negative Numbers")
    else:
        print("a is Negative and b is Positive")
        
print("End of Execution")

a is Positive and b is Negative
End of Execution

In [10]:
 # Conditional Execution -elif statement below:

In [11]:
n = 0

if n > 0:
    print("Positive Number")
else:
    if n < 0:
        print("Negative Number")
    else:
        if n == 0:
            print("It is Zero")
            
print("End of Execution")

It is Zero
End of Execution

In [13]:
n = 0

if n > 0:
    print("Positive Number")
elif n < 0:
    print("Negative Number")
else:
    print("It is Zero")
    
print("End of Execution")

It is Zero
End of Execution

In [14]:
# Code to find Even : Odd number

In [15]:
# code to check even odd number

print("Enter a number")

n = int(input())

if n % 2 == 0:
    print(n, "is an Even Number")
else:
    print(n, "is an Odd Number...")

Enter a number
13
13 is an Odd Number...

In [17]:
# Code to find maximum of 3 numbers

In [19]:
# code to find max of 3 numbers

print("Enter Number 1 : ")
a = int(input())

print("Enter Number 1 : ")
b = int(input())

print("Enter Number 1 : ")
c = int(input())

max = a

if b > max:
    max = b
else:
    if c > max:
        max = c

print("Max Value is ", max)

Enter Number 1 :
12
Enter Number 1 :
13
Enter Number 1 :
2
Max Value is  13

In [20]:
# code to find max of 3 numbers

print("Enter Number 1 : ")
a = int(input())

print("Enter Number 1 : ")
b = int(input())

print("Enter Number 1 : ")
c = int(input())

max = a

if b > max:
    max = b
elif c > max:
    max = c
        
print("Max Value is ", max)

Enter Number 1 :
12
Enter Number 1 :
13
Enter Number 1 :
2
Max Value is  13

In [21]:
# code to find max of 3 numbers

print("Enter Number 1 : ")
a = int(input())

print("Enter Number 1 : ")
b = int(input())

print("Enter Number 1 : ")
c = int(input())

max = a

if b > max:
    max = b
if c > max:
        max = c

print("Max Value is ", max)

Enter Number 1 :
12
Enter Number 1 :
13
Enter Number 1 :
2
Max Value is  13

In [23]:
# code to calculate simple interest

print("Enter Principal Amount : ")
p = int(input())

print("Enter Time period \(in Years) : ")
t = int(input())

print("Enter Rate of Interest : ")
r = float(input())

SI = 0.0

if p > 1000 :

    SI = ( p * t * r) /100

if SI != 0:
    print("Simple Interest Value is ", SI)
else:
    print("Principle Amount is Less than 1000")

Enter Principal Amount :
200000
Enter Time period \(in Years) :
2
Enter Rate of Interest :
1.5
Simple Interest Value is  6000.0

In [24]:
# code to calculate simple interest

print("Enter Principal Amount : ")
p = int(input())

print("Enter Time period (in Years) : ")
t = int(input())

print("Enter Rate of Interest : ")
r = float(input())

SI = 0.0

if p > 1000 :

    SI = ( p * t * r) /100

if SI != 0:
    print("Simple Interest Value is ", SI)
else:
    print("Principle Amount is Less than 1000")

Enter Principal Amount :
900
Enter Time period (in Years) :
300
Enter Rate of Interest :
2
Principle Amount is Less than 1000

In [27]:
# Loops and it's types

In [26]:
# While loops

# while expression:
#     statement(s)

In [28]:
i = 1

while i<=5 :
    print("Iteration Number ", i)
    i = i + 1
    
print("End of Execution...")

Iteration Number  1
Iteration Number  2
Iteration Number  3
Iteration Number  4
Iteration Number  5
End of Execution...

In [30]:
# Using else statement with while loop

# while condition:
#     # execute this statements  
# else:
#     # execute this statements

In [31]:
i = 1

while i<=3 :
    print("Iteration Number ", i)
    i = i + 1
else:
    print("In else part")
    
print("End of Execution...")

Iteration Number  1
Iteration Number  2
Iteration Number  3
In else part
End of Execution...

In [32]:
# for in loop

# for loops are used for sequential traversal
# It can be use to iterate over a range and iterators.

# for iterator_var in sequence:
#     statement(s)

In [33]:
n = 5

for i in range(1,n):
    print("Iteration Number ", i)

Iteration Number  1
Iteration Number  2
Iteration Number  3
Iteration Number  4

In [35]:
# for in loop

In [36]:
for x in range(2, 20, 3):
    print(x)

2
5
8
11
14
17

In [37]:
for x in range(20, 2, -3):
    print(x)

20
17
14
11
8
5

In [1]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [2]:
fruits = ["Apple", "Banana", "Cherry"]
for x in fruits:
    print(x)

Apple
Banana
Cherry

In [3]:
fruits = ["Apple", "Banana", "Cherry"]
for x in fruits:
    print(type(x))

<class 'str'>
<class 'str'>
<class 'str'>

In [4]:
# Using else statement with for loops

In [5]:
a = 5

for i in range(1,a):
    print("Iteration Number ", i)
else:
    print("Control in else section")
    
print("End of Execution...")

Iteration Number  1
Iteration Number  2
Iteration Number  3
Iteration Number  4
Control in else section
End of Execution...

In [6]:
# Loop Control Statements - Continue

In [9]:
a = 10

for i in range(1,a):
    if i % 2 == 0 : continue
    print(i)

1
3
5
7
9

In [10]:
# Loop Control Statements - Break
# It brings control out of loop

In [11]:
a = 10

for i in range(1,a):
    if i % 3 == 0 : break
    print(i)

1
2

In [13]:
a = int(input("Enter a number : "))
flag = 0

for i in range(2,a):
    if a % i == 0 : 
        flag = 1
        break
        
if flag == 0 : print("prime Number")
else : print("Not a prime Number")

Enter a number : 7
prime Number

In [14]:
# Loop Control Statements - Pass

In [15]:
a = 10

for i in range(1,a):
    pass
print(i)

9

In [16]:
# Nested Loops
# Python programming language allows to use one loop inside another loop.

# for iterator_var in sequence:
#     for iterator_var in sequence:
#         statements(s)
#         statements(s)
    
    
# while expression:
#     while expression:
#         statements(s)
#         statements(s)

In [18]:
a = 5

for i in range(1,a):
    for j in range(1,i):
        print("*", end="")
    print(" ")

*
**
***