In [1]:
# Logical and Bitwise Operator

In [3]:
m = int(input("Enter a Month - "))

if m == 1 or m == 3 or m == 5 or m == 7 or m == 8 or m == 10 or m == 12:
    print("It is a 31 Day Month")
elif m == 4 or m == 6 or m == 9 or m == 11:
    print("It is a 30 Day Month")
elif m == 2:
    if y1 % 4 == 0:
        print("It is a 29 Day Month")
    else:
        print("It is a 28 Day Month")

Enter a Month - 4
It is a 30 Day Month

In [4]:
m = int(input("Enter a Month - "))

if m == 1 or m == 3 or m == 5 or m == 7 or m == 8 or m == 10 or m == 12:
    print("It is a 31 Day Month")
elif m == 4 or m == 6 or m == 9 or m == 11:
    print("It is a 30 Day Month")
elif m == 2:
    if y1 % 4 == 0:
        print("It is a 29 Day Month")
    else:
        print("It is a 28 Day Month")

Enter a Month - 12
It is a 31 Day Month

In [5]:
a = int(input("Enter Number 1 - "))
b = int(input("Enter Number 1 - "))
c = int(input("Enter Number 1 - "))

if a > b and a > c:
    print(a ,"is Max")
elif b > c:
    print(b ,"is Max")
else:
    print(c ,"is Max")

Enter Number 1 - 12
Enter Number 1 - 23
Enter Number 1 - 445
445 is Max

In [6]:
a = int(input("Enter Number 1 - "))

if not a:
    print("It is Zero(0)")
else:
    print("It is non Zero Number")

Enter Number 1 - 0
It is Zero(0)

In [8]:
# You can the number too

In [7]:
a = int(input("Enter Number 1 - "))

if not a:
    print("It is One(1)")
else:
    print("It is non Zero Number")

Enter Number 1 - 1
It is non Zero Number

In [9]:
# Bitwise Operators can work on Integers works on Binary too

In [11]:
# Formula:

# a = 10 = 1010   - (Binary)
# b = 4  = 0100   - (Binary)

# a & b = 1010
#          &
#         0100
#       = 0000
#       = 0 (Decimal)

In [10]:
# Bitwise Operators - AND(&)

a = 10
b = 4

print(a & b)

0

In [12]:
# Bitwise Shift Operators:

# Bitwise right shift: Shifts the bits of the number to the rt. and fills 0 and voids lf. as a result.
# Similiar effects as of dividind the number with some power of two.

In [13]:
a = 100

print(a>>1)
print(a>>2)
print(a>>3)

50
25
12

In [14]:
# Bitwise left shift: Shifts the bits of the number to the lf. and fills 0 and voids lf. as a result.
# Similiar effects as of multiplying the number with some power of two.

In [16]:
a = 5

print(a<<1)
print(a<<2)
print(a<<3)

10
20
40

In [17]:
print(1<<1)
print(1<<2)
print(1<<3)

2
4
8

In [18]:
# Bitwise Shift Operators - 2n

In [19]:
# code to print 2 to the power of n

n = int(input("Enter the Value of n : "))
ans = 1

while n > 0 :
    ans *= 2
    n -= 1
print(ans)

Enter the Value of n : 5
32

In [20]:
# code to print 2 to the power of n

n = int(input("Enter the Value of n : "))
print(1<<n)

Enter the Value of n : 5
32

In [22]:
# Basics Concepts of string in PY
# A string is a sequence of characters, its also sequence of Unicode Characters

In [39]:
fname = "Deepti"
lname = 'B'
addr  = """livelife No.1
lifeone
NJ"""

print(fname)
print(lname)
print(addr)

Deepti
B
livelife No.1
lifeone
NJ

In [41]:
s1 = "PYTHONCODE"
s2 = """abcdefg
hijklmnoprrstuvwxyz"""
s3 = """abcdefg
hijklmnop
qrstuvwxyz"""

print(s1)
print(len(s1))
print(s2)
print(len(s2))
print(s3)
print(len(s3))

PYTHONCODE
10
abcdefg
hijklmnoprrstuvwxyz
27
abcdefg
hijklmnop
qrstuvwxyz
28

In [42]:
# 0    1     2    3    4    5    6    7    8    9
# P    Y     T    H    O    N    C    O    D    E
# -10 -9    -8   -7   -6   -5   -4   -3   -2   -1

In [43]:
s = "PYTHONCODE"

print(s)
print(s[0])
print(s[1])
print(s[8])
print(s[-1])
print(s[-4])
print(s[-10])

PYTHONCODE
P
Y
D
E
C
P

In [46]:
# Printing Strings with loops

In [45]:
s = "abcdefghi"

print(s)
print("\nPrinting the string with for loop")
for i in s:
    print(i)

abcdefghi

Printing the string with for loop
a
b
c
d
e
f
g
h
i

In [47]:
s = "abcdefghi"

print(s)
print("\nPrinting the string with for loop")
for i in s:
    print(i,end="")

abcdefghi

Printing the string with for loop
abcdefghi

In [48]:
s = "abcdefghi"

print(s)
print("\nPrinting the string with for loop")
for i in range(0,len(s)):
    print(s[i],end="")

abcdefghi

Printing the string with for loop
abcdefghi

In [49]:
# String Slices

In [50]:
# 0    1     2    3    4    5    6    7    8    9
# P    Y     T    H    O    N    C    O    D    E
# -10 -9    -8   -7   -6   -5   -4   -3   -2   -1

In [51]:
s = "PYTHONCODE"

print(s)
print(s[0:4])
print(s[2:7])
print(s[3:5])
print(s[-6:-3])
print(s[-3:-6])  # lower num doesnt appear
print(s[0:])
print(s[:0])  # No ouput - Blank
print(s[-1:])
print(s[:-1]) # exlucding E - will p/u all Alphabets

PYTHONCODE
PYTH
THONC
HO
ONC

PYTHONCODE

E
PYTHONCOD

In [52]:
print(s[:2])

PY

In [53]:
# 0    1     2    3    4    5    6    7    8    9
# P    Y     T    H    O    N    C    O    D    E
# -10 -9    -8   -7   -6   -5   -4   -3   -2   -1

In [54]:
s = "PYTHONCODE"

print(s)
print(s[-7:-2])
print(s[-2:-7]) # lower num - blank
print(s[-1:-2]) # lower num - blank
print(s[-2:-7:-1])
print(s[-1])
print(s[:])
print(s[::])

PYTHONCODE
HONCO


DOCNO
E
PYTHONCODE
PYTHONCODE

In [55]:
# lower()     - returns the string in lower case
# upper()     - returns the string in upper case
# swapcase()  - Swap cases, lower case becomes upper case and vice versa

In [56]:
s = "This is PYTHON Code"

print(s)
print(s.lower())
print(s.upper())
print(s.swapcase())

This is PYTHON Code
this is python code
THIS IS PYTHON CODE
tHIS IS python cODE

In [57]:
# String Methods

# strip()    - removes any whitespace from the beginning or the end
# lstrip()   - returns lt. trim version of the string
# rstrip()   - returns rt. trim version of the string

In [58]:
s = "This is PYTHON Code"

print(s)
print(s.strip())

print("\nStore string output in another string")
news = s.strip()    # new s
print(news)

This is PYTHON Code
This is PYTHON Code

Store string output in another string
This is PYTHON Code

In [59]:
s = "This is PYTHON Code"

print(s)
print(s.lstrip())
print(s.rstrip())

This is PYTHON Code
This is PYTHON Code
This is PYTHON Code

In [60]:
# replace(s1, s2) - replace string with another
# split()   - Split the string into substrings if it finds instances of the separator

In [66]:
S = "This is PYTHON Code"

print(S)
print(S.replace('S', 'Q'))
print(S)

This is PYTHON Code
This is PYTHON Code
This is PYTHON Code

In [65]:
S = "This is PYTHONS Code"

print(S)
print(S.replace('S','ZZZ'))

This is PYTHONS Code
This is PYTHONZZZ Code

In [67]:
S = "This is PYTHONS Code"

print(S)
print(S.split("S"))

This is PYTHONS Code
['This is PYTHON', ' Code']

In [68]:
S = "This is PYTHONS Code"

print(S)
print(S.split(" "))

This is PYTHONS Code
['This', 'is', 'PYTHONS', 'Code']

In [69]:
S = "Here is the Code"

print(S)
print(S.split("is"))

Here is the Code
['Here ', ' the Code']

In [70]:
# capitalize()  - Converts the first character to Upper case
# title()       - Converts the first character of each word to upeer case
# count()       - Returns the number of times a specified value occurs in a string
# startswith()  - Returns true if the string starts with the specified value
# endswith()    - Returns true if the string ends with the specified value

In [71]:
s = "this is Python is Code"

print(s)
print(s.capitalize())
print(s.title())
print(s.count('t'))
print(s.count('is'))
print(s.startswith('th'))
print(s.startswith('Th'))
print(s.endswith('de'))
print(s.endswith('De'))

this is Python is Code
This is python is code
This Is Python Is Code
2
3
True
False
True
False

In [1]:
# find()    - Searches the string for a specified value and returns the position of where it was found
# index()   - Searches the string for a specified value and returns the position of where it was found
# rindex()  - Searches the string for a specified value and returns the last position of where it was found

In [2]:
s = "This is Python is Code"

print(s.find('o'))
print(s.index('o'))
print(s.rindex('o'))
print(s.find('is'))
print(s.index('is'))
print(s.rindex('is'))

12
12
19
2
2
15

In [3]:
# isalnum()       -Returns True if all characters in the string are Alphanumeric
# isalpha()       -Returns True if all characters in the string are in the Alphabet
# isdecimal()     -Returns True if all characters in the string are in Decimals
# isdigit()       -Returns True if all characters in the string are Digits
# isidentifier()  -Returns True if the string is an Identifier
# isnumeric()     -Returns True if all characters in the string are Numeric

In [4]:
s1 = "abcdefghijklm"
s2 = "1234567890"
s3 = "abc 123"

print(s1.isalnum(), s2.isalnum(), s3.isalnum())
print(s1.isalpha(), s2.isalpha(), s3.isalpha())
print(s1.isdecimal(), s2.isdecimal(), s3.isdecimal())
print(s1.isdigit(), s2.isdigit(), s3.isdigit())
print(s1.isidentifier(), s2.isidentifier(), s3.isidentifier())  # is not an identifier
print(s1.isnumeric(), s2.isnumeric(), s3.isnumeric())

True True False
True False False
False True False
False True False
True False False
False True False

In [5]:
s1 = "qwert"
s2 = "1234567890"
s3 = "abc 123"
s4 = "22bac"

print(s1.isidentifier(), s2.isidentifier())
print(s3.isidentifier(), s4.isidentifier())

True False
False False

In [6]:
# islower() - Returns True if all characters in the string are lower case
# isupper() - Returns True if all characters in the string are upper case
# istitle() - Returns True if the string follows the rule of a title
# isspace() - Returns True if all characters in the string are Whitespaces
# zfill()   - Fills the string with a specified number of 0 values at the beginning

In [7]:
s1 = "abcde"
s2 = "ABCDE"
s3 = "Abcde"

print(s1.islower(), s2.islower(), s3.islower())
print(s1.isupper(), s2.isupper(), s3.isupper())
print(s1.istitle(), s2.istitle(), s3.istitle())

True False False
False True False
False False True

In [8]:
s1 = "Abcde"
s2 = "      "

print(s1.isspace(),s2.isspace())

False True

In [9]:
s1 = "ab"
s2 = "abcd"
s3 = "abcdefg"

print(s1)
print(s2)
print(s3)

print("\nwith zfill")
print(s1.zfill(10))    #  8 - Zero's than ab
print(s2.zfill(10))    #  6 - Zero's than abcd
print(s3.zfill(10))    #  3 - Zero's than abcdefg

ab
abcd
abcdefg

with zfill
00000000ab
000000abcd
000abcdefg

In [11]:
#  in and not in operators and String Concatenation
# if a certain phrase or chararcter is present in a string, we can use the keywords in or not in.

In [12]:
s = "The Pyhton Code"

y = "ton" in s

print(s)
print(y)

The Pyhton Code
True

In [13]:
s = "The Pyhton Code"

y = "python" in s

print(s)
print(y)

The Pyhton Code
False

In [14]:
# String Concatenation
# To concatenate, or combine, two strings you can use the + operator.

In [15]:
s1 = "The Pyhton Code"
s2 = "Code"

print(s1 + s2)
print(s1 + " " + s2)

The Pyhton CodeCode
The Pyhton Code Code

In [16]:
# Py collection of lists

# Collection Name    Ordered   Changeable   Indexed   Duplicate Members  Syntax
# lists                YES       YES         YES        YES                []
# Tuple                YES       NO          YES        YES                ()
# Set                  NO        NO          NO         NO                 {}
# Dictionary           NO        YES         YES        NO                 {:}

# In Python, list is a collection of items of different data types.
# It is an ordered sequence of items.
# A list object contains one or more items, not necessarily of the asme type,
# which are separated by comma and enclosed in square brackets []

In [19]:
# Indexing and Slicing the list

#               0   1   2   3    4
# #  numbers = [5, -10, 7, 11, 100]
#              -5  -4  -3  -2  -1

In [20]:
numbers = [5, -10, 7, 100]

print(numbers)
print(numbers[0])
print(numbers[1])
print(numbers[3])
print(numbers[-1])
print(numbers[-3])

[5, -10, 7, 100]
5
-10
100
100
-10

In [22]:
# Indexing and Slicing the list

#               0   1   2   3    4
# #  numbers = [5, -10, 7, 11, 100]
#              -5  -4  -3  -2  -1

In [21]:
numbers = [5, -10, 7, 100]

print(numbers)
print(numbers[0:3])
print(numbers[1:3])
print(numbers[3:1])   # (+) highest numbers will appear blank
print(numbers[:3])
print(numbers[3:1:-1])
print(numbers[-4:-1])
print(numbers[::-1])

[5, -10, 7, 100]
[5, -10, 7]
[-10, 7]
[]
[5, -10, 7]
[100, 7]
[5, -10, 7]
[100, 7, -10, 5]

In [23]:
print(numbers[3:2])

[]

In [24]:
numbers = [5, -10, 7, 100]
print(numbers)

print("\nUsing For Loop and range()")
for i in range(0, len(numbers)) :
    print(numbers[i], end=", ")
    
print("\nUsing For Loop and list")
for i in numbers : print(i, end=", ")

[5, -10, 7, 100]

Using For Loop and range()
5, -10, 7, 100,
Using For Loop and list
5, -10, 7, 100,

In [25]:
# List Methods 
# count()
# index()

#               0   1   2   3    4
# #  numbers = [5, -10, 7, 11, 100]
#              -5  -4  -3  -2  -1

In [26]:
a = [1, 4, 3, 4, 5, 6, 4, 8, 9]
print(a)

print(a.count(4))
print(a.index(4))
print(a.count(10))
print(a.index(10))

[1, 4, 3, 4, 5, 6, 4, 8, 9]
3
1
0

ValueError: 10 is not in list

In [27]:
a = [1, 4, 3, 4, 5, 6, 4, 8, 9]
print(a)

print(a.count(4))
print(a.index(4))

if a.count(10) != 0 :
    print(a.index(10))
else :
    print("10 is not present in a")

[1, 4, 3, 4, 5, 6, 4, 8, 9]
3
1
10 is not present in a

In [28]:
# List Method
# reverse(), sort()

In [29]:
a = [1, -4, -7, 3, 9, 2]
print(a)

a.reverse()
print(a)

a.sort()
print(a)

[1, -4, -7, 3, 9, 2]
[2, 9, 3, -7, -4, 1]
[-7, -4, 1, 2, 3, 9]

In [30]:
a = [1, -4, -7, 3, 9, 2]
print(a)

arev = a[::-1]
print(arev)

[1, -4, -7, 3, 9, 2]
[2, 9, 3, -7, -4, 1]

In [34]:
a = [1, -4, -7, 3, 9, 2]
print(a)

for i in range(len(a)) :
    for j in range(i+1, len(a)) :
        if a[i] > a[j] :
            a[i], a[j] = a[j], a[i]
        
print(a)

[1, -4, -7, 3, 9, 2]
[-7, -4, 1, 2, 3, 9]

In [35]:
# Adding the elements
# append(), insert(), extend()

#               0   1   2   3    4
# #  numbers = [5, -10, 7, 11, 100]
#              -5  -4  -3  -2  -1

In [36]:
numbers = [5, -10, 7, 11, 100]
print(numbers)

numbers.append(33)
print(numbers)

numbers.append(66)
print(numbers)

numbers.insert(1,11)  # (+) indexing placed 1-11
print(numbers)

numbers.insert(-4,44) # (-) indexing placed -4-44
print(numbers)

[5, -10, 7, 11, 100]
[5, -10, 7, 11, 100, 33]
[5, -10, 7, 11, 100, 33, 66]
[5, 11, -10, 7, 11, 100, 33, 66]
[5, 11, -10, 7, 44, 11, 100, 33, 66]

In [37]:
rolls = [1, 2, 3, 4, 5]
names = ["Ram", "Sita", "Laxman", "Urmila"]
marks = [80.25, 77.30, 90, 66.44]

print(rolls)
print(names)
print(marks)

stud1 = []
stud1.append(rolls[0])
stud1.append(names[0])
stud1.append(marks[0])

print(stud1)

[1, 2, 3, 4, 5]
['Ram', 'Sita', 'Laxman', 'Urmila']
[80.25, 77.3, 90, 66.44]
[1, 'Ram', 80.25]

In [38]:
a = [1, 2, 3]
b = [4, 5, 6, 7]

print(a)
print(b)

a.extend(b) # a is going to extend with b

print(a)
print(b)

[1, 2, 3]
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7]

In [1]:
# Multiple Assignments with = in Python

In [2]:
numbers = [5, -10, 7, 11, 100]
print(numbers)

numbers[0], numbers[3] = 99, 88  # replace bt 0-33 99 and 88
print(numbers)

[5, -10, 7, 11, 100]
[99, -10, 7, 88, 100]

In [5]:
n1, n2 =[5, -10, 7, 11, 100],[1, 2, 3, 4]

print(n1)
print(n2)

[5, -10, 7, 11, 100]
[1, 2, 3, 4]

In [7]:
# Python List Methods - pop(), remove(), clear()

# Deleting the elements by
# Python List Methods - pop(), remove(), clear()

In [8]:
a = [1, 2, 7, 4, 5, 33, 7, 88, 99]
print(a)

a.pop()
print(a)
a.pop()
print(a)

a.remove(33)
print(a)

a.clear()
print(a)

[1, 2, 7, 4, 5, 33, 7, 88, 99]
[1, 2, 7, 4, 5, 33, 7, 88]
[1, 2, 7, 4, 5, 33, 7]
[1, 2, 7, 4, 5, 7]
[]

In [9]:
numbers = [5, -10, 7, 11, 100]
print(numbers)

del numbers[1]
print(numbers)

del numbers
print(numbers)

[5, -10, 7, 11, 100]
[5, 7, 11, 100]

NameError: name 'numbers' is not defined

In [10]:
# Python Lists - Concatenation(+), Repetition(*), Membership(in) and copy()

In [11]:
a = [1, 2, 3]
b = [4, 5, 6, 7]

c = a + b

print(a)
print(b)
print(c)

c += [8, 9]
print(c)

[1, 2, 3]
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
a = [1, 2, 3, 4]
print(a)

b = a.copy()
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [13]:
text = ["O"]
longtext = text * 5   # Not multiplication coz its with variable its repitation

print(text)
print(longtext)

text = ["1Q"]
longtext = text * 5

print(text)
print(longtext)

['O']
['O', 'O', 'O', 'O', 'O']
['1Q']
['1Q', '1Q', '1Q', '1Q', '1Q']

In [14]:
b = [4, 5, 6, 7]

print(5 in b)
print(9 in b)

True
False

In [15]:
# Python List - min(), max() and Comparison of 2 Lists
# List Functions and Comparision of 2 lists

In [16]:
a = [1, -4, -7, 3, 9, 2]
print(a)

print(min(a))
print(max(a))

[1, -4, -7, 3, 9, 2]
-7
9

In [17]:
a = [1, -4, -7, 3, 9, 2]
b = [1, 2, 3, 4]
c = [1, 2, 3, 4]
d = [-7, -4, 1, 2, 3, 9]

print("a = ", a)
print("b = ", b)
print("c = ", c)
print("d = ", d)

if a == b : print("Both Lists are Same")
else : print("Both Lists are Different")
    
if b == c : print("Both Lists are Same")
else : print("Both Lists are Different")  
    
if a == d : print("Both Lists are Same")
else : print("Both Lists are Different")

a =  [1, -4, -7, 3, 9, 2]
b =  [1, 2, 3, 4]
c =  [1, 2, 3, 4]
d =  [-7, -4, 1, 2, 3, 9]
Both Lists are Different
Both Lists are Same
Both Lists are Different

In [18]:
# Python List comprehension syntax

In [19]:
a = []

for i in range(5) :
    a.append(i)
    
print(a)

b = [i for i in range(5)]
print(b)

c = [i*i for i in range(5)]
print(c)

d = [pow(i+1,3) for i in range(10)]
print(d)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 4, 9, 16]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [20]:
# List comprehension syntax

# b = [i for i in range(5)]

# b = all values of i such that expression

# b = all values of i such that for i in range(5)

# b = all values of i such that 0, 1, 2, 3, 4

In [22]:
a = [i for i in range(20)]
print(a)

b = [i for i in a]
print(b)

b = [i for i in a if i%2==0]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [23]:
a = [i for i in range(20)]
print(a)

b = [i for i in a]
print(b)

b = [i for i in a if i%3==0]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 3, 6, 9, 12, 15, 18]

In [24]:
# How to debug Python Codes? at Command line and using Anaconda Spyder - Pending

In [25]:
# Introduction to Tuples - Indexing and Slicing the tuples

In [26]:
# Python Collections(Tuples) 

# Collection Name    Ordered   Changeable   Indexed   Duplicate Members  Syntax
# lists                YES       YES         YES        YES                []
# Tuple                YES       NO          YES        YES                ()
# Set                  NO        NO          NO         NO                 {}
# Dictionary           NO        YES         YES        NO                 {:}

# Tuples is a collection of objects which ordered and immutable.
# Tuples are sequences, just like lists.
# The difference between Tuples and list are, 
# the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use [] objects.

In [27]:
#  Indexing and Slicing the tuples

#           0        1      2     3     4
#  tup = ("Sun", "Earth", 2019, 2020, 75.2)
#          -5     -4       -3     -2    -1

In [29]:
tup = ("Sun", "Earth", 2019, 2020, 75.2)

print(tup)
print(tup[0])
print(tup[2])
print(tup[4])
print(tup[-1])
print(tup[-3])
print(tup[-5])

('Sun', 'Earth', 2019, 2020, 75.2)
Sun
2019
75.2
75.2
2019
Sun

In [31]:
#  Indexing and Slicing the tuples

#           0        1      2     3     4
#  tup = ("Sun", "Earth", 2019, 2020, 75.2)
#          -5     -4       -3     -2    -1

In [30]:
tup = ("Sun", "Earth", 2019, 2020, 75.2)

print(tup)
print(tup[0:3])
print(tup[1:4])
print(tup[:4])
print(tup[:])
print(tup[-5:-3])
print(tup[-3:-5])
print(tup[-3:-5:-1])
print(tup[1:4:-1])
print(tup[::-1])

('Sun', 'Earth', 2019, 2020, 75.2)
('Sun', 'Earth', 2019)
('Earth', 2019, 2020)
('Sun', 'Earth', 2019, 2020)
('Sun', 'Earth', 2019, 2020, 75.2)
('Sun', 'Earth')
()
(2019, 'Earth')
()
(75.2, 2020, 2019, 'Earth', 'Sun')

In [33]:
tup = ("Sun", "Earth", 2019, 2020, 75.2)
print(tup)

print("\nUsing For Loop")
for i in tup :
    print(i, end=" ")
    
print("\nUsing For Loop and range()")
for i in range(len(tup)) :
    print(tup[i], end=" ")

('Sun', 'Earth', 2019, 2020, 75.2)

Using For Loop
Sun Earth 2019 2020 75.2
Using For Loop and range()
Sun Earth 2019 2020 75.2

In [34]:
# Tuples are immutable - Updating tuple elements is not allowed
# updating the Tuples NOT Allowed

In [35]:
tup = ("Sun", "Earth", 2019, 2020, 75.2)
print(tup)

tup[1] = 111
print(tup)

('Sun', 'Earth', 2019, 2020, 75.2)

TypeError: 'tuple' object does not support item assignment

In [36]:
tup = ("Sun", "Earth", 2019, 2020, 75.2)
print(tup)

del(tup[1])
print(tup)

('Sun', 'Earth', 2019, 2020, 75.2)

TypeError: 'tuple' object doesn't support item deletion

In [37]:
# Python Collections - Tuples - Concatenation(+), Repetition(*), Membership(in and not in)
# Concatenation(+), Repetition(*), Membership(in)

In [38]:
#  Indexing and Slicing the tuples

#           0        1      2     3     4
#  tup = ("Sun", "Earth", 2019, 2020, 75.2)
#          -5     -4       -3     -2    -1

In [39]:
a = [1, 2, 3]
b = [4, 5, 6, 7]

c = a + b

print(a)
print(b)
print(c)

c += (8, 9)
print(c)

[1, 2, 3]
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
text = (11)
longtext = text * 5   # Not multiplication coz its with variable its repitation

print(text)
print(longtext)

text = (11,)
longtext = text * 5

print(text)
print(longtext)

text = (11, 12)
longtext = text * 5

print(text)
print(longtext)

11
55
(11,)
(11, 11, 11, 11, 11)
(11, 12)
(11, 12, 11, 12, 11, 12, 11, 12, 11, 12)

In [41]:
b = [4, 5, 6, 7]

print(5 in b)
print(9 in b)

True
False

In [42]:
# Tuple methods - count() and index()

In [43]:
tup = (1, 2, 4, 4, 5, -4, 7, 111, 9)
print(tup)

print(tup.count(4))
print(tup.count(3))
print(tup.index(-4))  # 5th index : output 5
print(tup.index(10))  # if value is not placed will give an error

(1, 2, 4, 4, 5, -4, 7, 111, 9)
2
0
5

ValueError: tuple.index(x): x not in tuple

In [44]:
tup = (1, 2, 4, 4, 5, -4, 7, 111, 9)
print(tup)

print(tup.count(4))
print(tup.count(3))
print(tup.index(-4))  # 5th index : output 5

if tup.count(10) != 0 : print(tup.index(10))
else : print("10 Not Present")

(1, 2, 4, 4, 5, -4, 7, 111, 9)
2
0
5
10 Not Present

In [45]:
# Python Collections - Tuples - Multiple assignments with Tuples And Tuple functions - min(), max()

In [46]:
a = (11, 22, 33)
b = ("A", "B", "C", "D")

print(a, b)

a, b = (1, 2, 3) , ("A", "B", "C", "D")

# swap 2 tuples
a, b = b, a
print(a, b)

(11, 22, 33) ('A', 'B', 'C', 'D')
('A', 'B', 'C', 'D') (1, 2, 3)

In [48]:
# Tuple functions - min(), max()

In [49]:
tup = (1, 2, 4, 4, 5, -4, 7, 111, 9)
print(tup)

print(min(tup))
print(max(tup))

(1, 2, 4, 4, 5, -4, 7, 111, 9)
-4
111

In [50]:
# Python Collections(Arrays)

# Collection Name    Ordered   Changeable   Indexed   Duplicate Members  Syntax
# lists                YES       YES         YES        YES                []
# Tuple                YES       NO          YES        YES                ()
# Set                  NO        NO          NO         NO                 {}
# Dictionary           NO        YES         YES        NO                 {:}

# A set is a collection of data types in Python, same as the list and tuple.
# It is not an ordered of Collection of objects.
#The Set is Python Implementation of the set in Mathematics. A set object has suitable methods to perform 
# mathematical set operations like union,intersection, difference etc.
# A set object contains one or more items, not necessarily of the same type, which are separted by comma and enclosed in {}
# Indexing and Slicing operations cannot be done on a set object.

In [51]:
# creating the Set objects and using copy()

In [52]:
s = {1, 2, 3, 4}

print("Set Demo")
print(s)

Set Demo
{1, 2, 3, 4}

In [53]:
s = {1, 2, 2, 2, 3, 4}

print("Duplication of Items not allowed in a Set")
print(s)

Duplication of Items not allowed in a Set
{1, 2, 3, 4}

In [54]:
s = {1, 2, 3, 4}

print("Using For Loop")

for i in s :
    print(i)

Using For Loop
1
2
3
4

In [55]:
s = {1, 2, 3, 4}

print("Set is not a Index data type")

print(len(s))
for i in range(len(s)) :
    print(s[i])   # it is not indexed

Set is not a Index data type
4

TypeError: 'set' object is not subscriptable

In [57]:
city1 = {"Mumbai", "Maharastra", "Kashi"}

city2 = city1
city3 = city1.copy()

print(city2)
print(city3)

{'Maharastra', 'Mumbai', 'Kashi'}
{'Maharastra', 'Mumbai', 'Kashi'}

In [1]:
city1 = {"Mumbai", "Maharastra", "Mumbai"}

city2 = city1
city3 = city1.copy()

print(city2)
print(city3)

{'Mumbai', 'Maharastra'}
{'Mumbai', 'Maharastra'}

In [2]:
# Python Collections - Set - Adding and updating Set objects - Using add(), update()

# Once a set is created, you cannot change its item, but you can add new items

In [4]:
city = {"Mumbai", "Maharashtra", "Kashi"}
print(city)

print("\nadd a single element using add()")
city.add("Himachal")
print(city)

city.add("Maharashtra")
print(city)

{'Mumbai', 'Kashi', 'Maharashtra'}

add a single element using add()
{'Himachal', 'Mumbai', 'Kashi', 'Maharashtra'}
{'Himachal', 'Mumbai', 'Kashi', 'Maharashtra'}

In [5]:
city = {"Mumbai", "Maharashtra", "Kashi"}
print(city)

print("\ndont add a single element using update()")
city.update("Himachal")
print(city)

city = {"Mumbai", "Maharashtra", "Kashi"}

print("\nadd multiple elements using update()")
city.update(["Surat", "Chennai"])
print(city)

city.update(["Mumbai", "Chennai", "Kochin"])
print(city)

{'Mumbai', 'Kashi', 'Maharashtra'}

dont add a single element using update()
{'h', 'i', 'Maharashtra', 'H', 'Kashi', 'a', 'm', 'c', 'l', 'Mumbai'}

add multiple elements using update()
{'Surat', 'Maharashtra', 'Kashi', 'Mumbai', 'Chennai'}
{'Surat', 'Maharashtra', 'Kashi', 'Kochin', 'Mumbai', 'Chennai'}

In [6]:
# Removing items from Set object- Using remove(), discard(), pop(), clear(), del

In [7]:
city = {"Mumbai", "Maharashtra", "Kashi", "Surat", "Himachal", "Chennai"}
print(city)

city.remove("Maharastra")
print(city)

print("\nIf item dont exist, remove() will raise an error\n")
city.remove("Amritsar")
print(city)

{'Surat', 'Kashi', 'Himachal', 'Maharashtra', 'Chennai', 'Mumbai'}

KeyError: 'Maharastra'

In [8]:
city = {"Mumbai", "Maharashtra", "Kashi", "Surat", "Himachal", "Chennai"}
print(city)

city.discard("Maharashtra")
print(city)

print("\nIf item dont exist, discard() will NOT raise an error.\n")
city.discard("Amritsar")
print(city)

{'Surat', 'Kashi', 'Himachal', 'Maharashtra', 'Chennai', 'Mumbai'}
{'Surat', 'Kashi', 'Himachal', 'Chennai', 'Mumbai'}

If item dont exist, discard() will NOT raise an error.

{'Surat', 'Kashi', 'Himachal', 'Chennai', 'Mumbai'}

In [9]:
# Removing items from Set object- Using remove(), discard(), pop(), clear(), del

In [11]:
city = {"Mumbai", "Maharashtra", "Kashi", "Surat", "Himachal", "Chennai"}
print(city)

print("""\nYou can also use the pop(), method to remove an item, 
    but this method will remove the last item.
    Remember that sets are unordered,
    so you will not know what item that gets removed.
    The return value of the pop() method is the remove item 
    """)

c = city.pop()
print(c)
print(city)

{'Surat', 'Kashi', 'Himachal', 'Maharashtra', 'Chennai', 'Mumbai'}

You can also use the pop(), method to remove an item,
    but this method will remove the last item.
    Remember that sets are unordered,
    so you will not know what item that gets removed.
    The return value of the pop() method is the remove item

Surat
{'Kashi', 'Himachal', 'Maharashtra', 'Chennai', 'Mumbai'}

In [12]:
city = {"Mumbai", "Maharashtra", "Kashi", "Surat", "Himachal", "Chennai"}
print(city)

city.clear()
print(city)

{'Surat', 'Kashi', 'Himachal', 'Maharashtra', 'Chennai', 'Mumbai'}
set()

In [13]:
city = {"Mumbai", "Maharashtra", "Kashi", "Surat", "Himachal", "Chennai"}
print(city)

del(city)
print(city)

{'Surat', 'Kashi', 'Himachal', 'Maharashtra', 'Chennai', 'Mumbai'}

NameError: name 'city' is not defined

In [14]:
#  Union and Intersection of two Set objects using union() or | and Using intersection() or &

In [15]:
s1 = {0, 2, 4, 6}
s2 = {1, 3, 5, 7, 9}

print("s1> ", s1)
print("s2> ", s2)

print("\ns1.union(s2)")
s3 = s1.union(s2)
print(s3)

print("\ns1 | s2")
s4 = s1 | s2

print(s4)

print("\n")
s5 = s4 | {1, 2, 3, 4, 11, 12}
print(s5)

s1>  {0, 2, 4, 6}
s2>  {1, 3, 5, 7, 9}

s1.union(s2)
{0, 1, 2, 3, 4, 5, 6, 7, 9}

s1 | s2
{0, 1, 2, 3, 4, 5, 6, 7, 9}


{0, 1, 2, 3, 4, 5, 6, 7, 9, 11, 12}

In [16]:
s1 = {0, 1, 2, 3, 4, 5, 6, 7, 9}
s2 = {1, 3, 5, 7, 9}

print("s1> ", s1)
print("s2> ", s2)

print("\ns1.intersection(s2)")
s3 = s1.intersection(s2)
print(s3)

print("\ns1 | s2")
s4 = s1 & s2
print(s4)

print("\n")
s5 = s1 & {11, 12}
print(s5)

s1>  {0, 1, 2, 3, 4, 5, 6, 7, 9}
s2>  {1, 3, 5, 7, 9}

s1.intersection(s2)
{1, 3, 5, 7, 9}

s1 | s2
{1, 3, 5, 7, 9}


set()

In [17]:
# Difference, Symmetric Difference of Set objects with difference(), symmetric_difference() or ^

In [18]:
s1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
s2 = {1, 3, 5, 7, 9, 11, 13}

print("s1> ", s1)
print("s2> ", s2)

s4 = s1 - s2
print("\ns1 - s2", s4)

s4 = s2 - s1
print("\ns2 - s1", s4)

print("\ns1.difference(s2)")
s4 = s1.difference(s2)
print(s4)

print("\ns2.difference(s1)")
s4 = s2.difference(s1)
print(s4)

s1>  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
s2>  {1, 3, 5, 7, 9, 11, 13}

s1 - s2 {0, 2, 4, 6, 8, 10}

s2 - s1 {13}

s1.difference(s2)
{0, 2, 4, 6, 8, 10}

s2.difference(s1)
{13}

In [21]:
print("""The result of symmetric difference is a set
consisting of element in both sets, excluding the common elements.\n""")

s1 = {0, 1, 2, 3, 4, 5, 6, 7}
s2 = {1, 3, 5, 7, 9, 11, 13}

print("s1> ", s1)
print("s2> ", s2)

print("\ns1.symmetric_difference(s2)")
s3 = s1.symmetric_difference(s2)
print(s3)

print("\ns1^s2")
s3 = s1^s2
print(s3)

The result of symmetric difference is a set
consisting of element in both sets, excluding the common elements.

s1>  {0, 1, 2, 3, 4, 5, 6, 7}
s2>  {1, 3, 5, 7, 9, 11, 13}

s1.symmetric_difference(s2)
{0, 2, 4, 6, 9, 11, 13}

s1^s2
{0, 2, 4, 6, 9, 11, 13}

In [25]:
# Set Methods- difference_update(), intersection_update(),

In [23]:
s1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
s2 = {1, 3, 5, 7, 9, 11, 13}

print("s1> ", s1)
print("s2> ", s2)

print("\ns1.difference(s2) -> ", s1.difference(s2))
print("\n")
print("s1> ", s1)
print("s2> ", s2)

print("\ns1.difference_update(s2)")
s1.difference_update(s2)

print("s1> ", s1)
print("s2> ", s2)

s1>  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
s2>  {1, 3, 5, 7, 9, 11, 13}

s1.difference(s2) ->  {0, 2, 4, 6, 8, 10}


s1>  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
s2>  {1, 3, 5, 7, 9, 11, 13}

s1.difference_update(s2)
s1>  {0, 2, 4, 6, 8, 10}
s2>  {1, 3, 5, 7, 9, 11, 13}

In [24]:
s1 = {0, 1, 2, 3, 4, 5, 6, 7, 9}
s2 = {1, 3, 5, 7, 9, 10}

print("s1> ", s1)
print("s2> ", s2)

print("\ns1.intersection(s2) -> ", s1.intersection(s2))
print("\n")
print("s1> ", s1)
print("s2> ", s2)

print("\ns1.intersection_update(s2)")
s1.intersection_update(s2)

print("s1> ", s1)
print("s2> ", s2)

s1>  {0, 1, 2, 3, 4, 5, 6, 7, 9}
s2>  {1, 3, 5, 7, 9, 10}

s1.intersection(s2) ->  {1, 3, 5, 7, 9}


s1>  {0, 1, 2, 3, 4, 5, 6, 7, 9}
s2>  {1, 3, 5, 7, 9, 10}

s1.intersection_update(s2)
s1>  {1, 3, 5, 7, 9}
s2>  {1, 3, 5, 7, 9, 10}

In [26]:
# symmetric_difference_update()

In [27]:
s1 = {1, 2, 3, 4, 5, 6, 7}
s2 = {1, 3, 5, 7, 9, 11, 13}

print("s1> ", s1)
print("s2> ", s2)

print("\ns1.symmetric_difference(s2) -> ", s1.symmetric_difference(s2))
print("\n")

print("s1> ", s1)
print("s2> ", s2)

print("\ns1.symmetric_difference_update(s2)")
s1.symmetric_difference_update(s2)

print("s1> ", s1)
print("s2> ", s2)

s1>  {1, 2, 3, 4, 5, 6, 7}
s2>  {1, 3, 5, 7, 9, 11, 13}

s1.symmetric_difference(s2) ->  {2, 4, 6, 9, 11, 13}


s1>  {1, 2, 3, 4, 5, 6, 7}
s2>  {1, 3, 5, 7, 9, 11, 13}

s1.symmetric_difference_update(s2)
s1>  {2, 4, 6, 9, 11, 13}
s2>  {1, 3, 5, 7, 9, 11, 13}

In [28]:
# Set Methods  Using issubset(), issuperset(), isdisjoint()

In [29]:
s1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
s2 = {1, 3, 5, 7}
s3 = {0, 2, 4, 6, 8}

print("s1> ", s1)
print("s2> ", s2)
print("\n")
print("s2 is a subset of s1 -> ", s2.issubset(s1))
print("s3 is a subset of s1 -> ", s2.issubset(s1))

s1>  {1, 2, 3, 4, 5, 6, 7, 8, 9}
s2>  {1, 3, 5, 7}


s2 is a subset of s1 ->  True
s3 is a subset of s1 ->  True

In [30]:
s1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
s2 = {1, 3, 5, 7}
s3 = {0, 2, 4, 6, 8}

print("s1> ", s1)
print("s2> ", s2)
print("\n")

print("s1 is superset of s2 -> ", s1.issuperset(s2))
print("s1 is superset of s3 -> ", s1.issuperset(s3))

s1>  {1, 2, 3, 4, 5, 6, 7, 8, 9}
s2>  {1, 3, 5, 7}


s1 is superset of s2 ->  True
s1 is superset of s3 ->  False

In [31]:
s1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
s2 = {1, 3, 5, 7}
s3 = {0, 2, 4, 6, 8}

print("s1> ", s1)
print("s2> ", s2)
print("\n")

print("s2 and s3 are disjoint sets -> ", s2.isdisjoint(s3))
print("s2 and {3, 6, 9} are disjoint sets -> ", s2.isdisjoint({3, 6, 9}))

s1>  {1, 2, 3, 4, 5, 6, 7, 8, 9}
s2>  {1, 3, 5, 7}


s2 and s3 are disjoint sets ->  True
s2 and {3, 6, 9} are disjoint sets ->  False

In [34]:
# Python lists:
# 1. Display a list in the reverse order without using reverse()

city = ["Mumbai", "Delhi", "Chennai", "Amritsar"]
print(city)

city.reverse()
print(city)  # reverse with order

['Mumbai', 'Delhi', 'Chennai', 'Amritsar']
['Amritsar', 'Chennai', 'Delhi', 'Mumbai']

In [38]:
#2. With reverese order

city = ["Mumbai", "Delhi", "Chennai", "Amritsar"]  # 0,1,2,3
print(city)

#city.reverse()

for i in range(len(city) -1, 0, -1):
    print(city[i], end=" ")
    
print("\n")

['Mumbai', 'Delhi', 'Chennai', 'Amritsar']
Amritsar Chennai Delhi

In [42]:
#2. Create a slice of the list without using slicing syntax [:]

city = ["Mumbai", "Delhi", "Chennai", "Amritsar", "Kochin", "Surat"] 
print(city)

print(city[:]) # all 6 cities will appear
print(city[1:4])

a = 1
b = 4

newcity = []

for i in range(a, b):
    print(city[i]) # will appear in Vertical
    newcity.append(city[i])
    
print("\nNew City List")
print(newcity)

print("\n")  # dont know the purpose

['Mumbai', 'Delhi', 'Chennai', 'Amritsar', 'Kochin', 'Surat']
['Mumbai', 'Delhi', 'Chennai', 'Amritsar', 'Kochin', 'Surat']
['Delhi', 'Chennai', 'Amritsar']
Delhi
Chennai
Amritsar

New City List
['Delhi', 'Chennai', 'Amritsar']

In [44]:
# 3. Create a list of strings. Remove empty strings from the list of strings.

city = ["Mumbai", "" ,"Delhi", "Chennai", "Amritsar", "Kochin", "" ,"Surat"] 

print(len(city)) # 8

newcity = []

for c in city:
    if c == "" : pass
    else : newcity.append(c)

print("\nNew City list\n", newcity) # from list of strings we have removed the blank strings

print("\n")

8

New City list
 ['Mumbai', 'Delhi', 'Chennai', 'Amritsar', 'Kochin', 'Surat']

In [46]:
#4. Find a value in the list of integers, and if it is present, replace it with 999. 
# Update all the occurrences except the first.

nos = [10, 12, 13, 11, 14, 11, 15, 16, 11, 17]

val = 11
count = 0

for i in range(len(nos)):
    if nos[i] == val:
        if count == 0:
            count += 1
            continue
        else:
            nos[i] = 999
                 
print(nos)

print("\n")

[10, 12, 13, 11, 14, 999, 15, 16, 999, 17]

In [49]:
#5. Create a list of integers. Find sum of all elements, minimum,
# maximum and length without using any built-in python function.

nos = [1, 1, 1, 1000, 1, 1, 1, -1000, 1, 1]

mn = mx = total = nos[0]
count = 1

for i in range(1, len(nos)):
    if mn > nos[i] : mn = nos[i]
    if mx < nos[i] : mx = nos[i]
    total += nos[i]
    count += 1
    
print("\nMinimum = ", mn, min(nos)) # both are valid
print("\nMaximum = ", mx, max(nos)) # both are valid
print("\nTotal = ", total)
print("\nLenght = ", count)

Minimum =  -1000 -1000

Maximum =  1000 1000

Total =  8

Lenght =  10

In [58]:
# 6. Write a Python program to remove duplicates from a list.

nos = [1, 12, 13, 1000, 1, 12, 33, -1000, 13, 19]

newnos = []
found = 0

for i in range(len(nos)):
    for j in range(i + 1, len(nos)):
        if nos[i] == nos[j]:
            found = 1
            break
            
    if found == 0: newnos.append(nos[i])
        
    found == 0
        
print(newnos)
print("\n")

[]

In [10]:
# 7. Write a Python program to find the second smallest number in a list.

# After next minimum - the next numhas to be 2nd smallest

nos = [1, 12, 13, 1000, 1, 12, 33, -1000, 13, 19]

# nos.sort()
print(nos)  # 1st min

# print(nos[1]) # 2nd min  / Also can finf 2nd min without using any library function

#without sort find min

mn = min(nos) # will store the current min value is -1000
mnpos = nos.index(mn) # position of mn value

print(mn, mnpos)  # -1000 7 loc

nos[mnpos], nos[0] = nos[0], nos[mnpos]
print(nos)

mn = nos[1]

for i in range(2, len(nos)):
    if mn>nos[i] : mn = nos[i]
        
print("Second Minimum = ", mn)  # 2nd min is-12

[1, 12, 13, 1000, 1, 12, 33, -1000, 13, 19]
-1000 7
[-1000, 12, 13, 1000, 1, 12, 33, 1, 13, 19]
Second Minimum =  1

In [14]:
# 8. Write a Python program to split a list at every Nth element.

nos = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

newnos = []
Nth = 3   # Means split by 3 element

N1, N2 = 0, Nth

# while True:  # in loop structure
while N2<len(nos) + 1:
    temp = nos[N1 : N2]
    newnos.append(temp)
    N1, N2 = (N1+Nth), (N2+Nth)

# print(nos[N1 : N2]) # printing slice of 4 elements - [1, 2, 3, 4]

if N1<len(nos)

print(newnos) # [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]] # [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]]

SyntaxError: invalid syntax (788961098.py, line 18)

In [15]:
# 9. Write a Python program to extend a list without append()

# without append()


nos = [10, 12, 13, 15]

val = 999

nos.insert(len(nos), val)

print(nos)

[10, 12, 13, 15, 999]

In [21]:
# 10. Write a Python program to create and add two 3X3 matrices using lists.

# Comprehension Syntax and mulitiple element

M1 = []
M2 = []

for i in range(3):
    row = [1 for j in range(3)]
    M1.append(row)
    
for i in range(3):
    row = [2 for j in range(3)]
    M2.append(row)    
    
# for i in range(3):
#     for j in range(3):
#         print(M[i][j], end =" ")
#         print("\n")   # Matrix format

print("\nMatrix 1")     
for i in range(3):
     for j in range(3):
        print(M1[i][j], end =" ")
        print("\n")  
        
print("\nMatrix 2")         
for i in range(3):
     for j in range(3):
        print(M2[i][j], end =" ")
        print("\n")         
    
# print(M) # [[0, 0, 0], [0, 0, 0], [0, 0, 0]]

Matrix 1
1

1

1

1

1

1

1

1

1


Matrix 2
2

2

2

2

2

2

2

2

2

In [ ]:
# Python Collections(Arrays) - Dictionary

# Collection Name    Ordered   Changeable   Indexed   Duplicate Members  Syntax
# lists                YES       YES         YES        YES                []
# Tuple                YES       NO          YES        YES                ()
# Set                  NO        NO          NO         NO                 {}
# Dictionary           NO        YES         YES        NO                 {:}

# A Dictionary is a collection which is unordered, chnageable and indexed.
# In Python Dictionaries are written with curly brackets, and they have keys and values.
# Each key is separated from its value by a colon (:), the items are separated by commas.
# Keys are unique with a dictionary whilw values may not be.
# The values of a Dictionary can be of any type, but the keys must be of an immmutable data type such as strings, numbers or tuples.

In [22]:
# Introduction to Dictionary - Creating and using Dictionary Using keys, dict() and fromkeys()

In [ ]:
#  Key      Value     Type
    
#  Name     Deepti   <str>
#  Roll      12      <int>
#  city     Mumbai   <str>

In [23]:
# creating and Using the Dictionary

d = {"name":"Deepti", "roll":12, "city":"Mumbai"}
print(d)

d = {
    "name":"Deepti",
    "roll":12,
    "city":"Mumbai"  
}
print(d)


print(d["name"])
print(d["roll"])
print(d["city"])

{'name': 'Deepti', 'roll': 12, 'city': 'Mumbai'}
{'name': 'Deepti', 'roll': 12, 'city': 'Mumbai'}
Deepti
12
Mumbai

In [24]:
d = {
    "name":"Deepti",
    "roll":12,
    "roll":"NEW003",
    "city":"Mumbai"  
}
print(d)

{'name': 'Deepti', 'roll': 'NEW003', 'city': 'Mumbai'}

In [25]:
d = {
    1 :"Deepti",
    2 :12,
    3 :"NEW003",
    4 :"Mumbai"  
    }
print(d)

{1: 'Deepti', 2: 12, 3: 'NEW003', 4: 'Mumbai'}

In [26]:
# other method

d = {
    1 :"Deepti",
    2 :12,
    2 :"NEW003",
    4 :"Mumbai"  
    }
print(d)

{1: 'Deepti', 2: 'NEW003', 4: 'Mumbai'}

In [27]:
# Using dict() constructor

d1 = dict()
print(d1)

d2 = dict(name = "ABC", roll = 123, city = "Mumbai")
print(d2)

d3 = dict(d2)
print(d3)

{}
{'name': 'ABC', 'roll': 123, 'city': 'Mumbai'}
{'name': 'ABC', 'roll': 123, 'city': 'Mumbai'}

In [28]:
# Using fromkeys()

d = {}
x = {"Mumbai", "Shahar", "Kashi"}
y = 12

print(d.fromkeys(x, y))

{'Mumbai': 12, 'Kashi': 12, 'Shahar': 12}

In [1]:
# Accessing the Dictionary  Using keys and using get()

In [2]:
d = {
    "name":"Deepti",
    "roll":12,
    "city":"Mumbai"  
}
print(d)

print(d["name"])
print(d["lastname"])

{'name': 'Deepti', 'roll': 12, 'city': 'Mumbai'}
Deepti

KeyError: 'lastname'

In [3]:
d = {
    "name":"Deepti",
    "roll":12,
    "city":"Mumbai"  
}
print(d)

print(d["name"])
print(d["roll"])
print(d["city"])

print("\nUsing get()")

n = d.get("name")
print(n)

n = d.get("lastname")
print(n)

# You can mention default return value
# If the key is not present

n = d.get("lastname", "Not Available")
print(n)

{'name': 'Deepti', 'roll': 12, 'city': 'Mumbai'}
Deepti
12
Mumbai

Using get()
Deepti
None
Not Available

In [5]:
d = {
    "name":"Deepti",
    "roll":12,
    "city":"Mumbai"  
}
print(d)

print(d["name"])
print(d["roll"])
print(d["city"])

print("\nUsing get()")

n = d.get("name")
print(n)

n = d.get("lastname")
print(n)

# You can mention default return value
# If the key is not present

n = d.get("lastname", "")
print(n)

{'name': 'Deepti', 'roll': 12, 'city': 'Mumbai'}
Deepti
12
Mumbai

Using get()
Deepti
None

In [6]:
# Dictionary functions - min(), max(), len(), type()

In [7]:
d1 = {1:"zx", 2:"zy", 3:"xy"}
d2 = {"Mumbai":12, "Shiv":17, "Kashi":17}

print("\nd1\n")
print("Minimum %d" % (min(d1)))
print("Maximum %d" % (max(d1)))
print("Length  %d" % (len(d1)))
print("Type    %s" % (type(d1)))

print("\nd2\n")
print("Minimum %s" % (min(d2)))
print("Maximum %s" % (max(d2)))
print("Length  %d" % (len(d2)))
print("Type    %s" % (type(d2)))

d1

Minimum 1
Maximum 3
Length  3
Type    <class 'dict'>

d2

Minimum Kashi
Maximum Shiv
Length  3
Type    <class 'dict'>

In [8]:
# Adding and Updating the Dictionary - Using key element and using setdefault()

In [ ]:
# below is case sensitive

In [9]:
d = {"Name":"Deepti", "Roll":12, "State":"New Jersey"}

print(d)
print(len(d))

d["name"] = "Shiv"
print(d)
print(len(d))

{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}
3
{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey', 'name': 'Shiv'}
4

In [10]:
d = {"Name":"Deepti", "Roll":12, "State":"New Jersey"}

print(d)
print(len(d))

d["Name"] = "Shiv"
print(d)
print(len(d))

{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}
3
{'Name': 'Shiv', 'Roll': 12, 'State': 'New Jersey'}
3

In [11]:
d = {"Name":"Deepti", "Roll":12, "State":"New Jersey"}

print(d)
print(len(d))

d["CGPA"] = 7
print(d)
print(len(d))

{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}
3
{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey', 'CGPA': 7}
4

In [12]:
d = {}
print(d)

d.setdefault("Name", "EnterName")
d.setdefault("Roll", 0)
d.setdefault("State", "EnterState")
d.setdefault("CGPA", 0)
print(d)

n = input("EnterName: ")
d["Name"] = n

print(n)

{}
{'Name': 'EnterName', 'Roll': 0, 'State': 'EnterState', 'CGPA': 0}
EnterName: Shiv
Shiv

In [13]:
# Deleting the Dictionary elements - Using del, pop(), popitem() and clear()

In [14]:
d = {"Name":"Deepti", "Roll":12, "State":"New Jersey"}
print(d)

del d["State"]
print(d)

del d["Country"]
print(d)

{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}
{'Name': 'Deepti', 'Roll': 12}

KeyError: 'Country'

In [15]:
d = {"Name":"Deepti", "Roll":12, "State":"New Jersey"}
print(d)

d.pop("Roll")
print(d)

d.popitem()
print(d)

d.clear()
print(d)

{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}
{'Name': 'Deepti', 'State': 'New Jersey'}
{'Name': 'Deepti'}
{}

In [16]:
d = {"Name":"Deepti", "Roll":12, "State":"New Jersey"}
print(d)

del(d)
print(d)

{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}

NameError: name 'd' is not defined

In [1]:
# Copying a Dictionary - Using copy() and update()

In [2]:
d1 = {"Name":"Deepti", "Roll":12, "State":"New Jersey"}
print(d1)

d2 = d1
print(d2)

d3 = d1.copy()
print(d3)

{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}
{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}
{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}

In [3]:
d1 = {"Name":"Deepti", "Roll":12, "State":"New Jersey"}
print(d1)

d2 = {}

d2.update(d1)
print(d2)

{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}
{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}

In [4]:
# Dictionary methods - keys() and values()

In [5]:
d = {"Name":"Deepti", "Roll":12, "State":"New Jersey"}
print(d)

k = d.keys()
print(k)

v = d.values()
print(v)

print("\nPrinting the String format of the Dictionary")
s = str(d)
print(s)
print(s[5])

print("\nPrinting Dictionary Using Keys")
for i in d.keys():
    print(i, d[i])

{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}
dict_keys(['Name', 'Roll', 'State'])
dict_values(['Deepti', 12, 'New Jersey'])

Printing the String format of the Dictionary
{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}
e

Printing Dictionary Using Keys
Name Deepti
Roll 12
State New Jersey

In [6]:
d = {"Name":"Deepti", "Roll":12, "State":"New Jersey"}
print(d)

k = d.keys()
print(k)

v = d.values()
print(v)

print("Printing the String format of the Dictionary")
s = str(d)
print(s)
print(s[5])

print("Printing Dictionary Using Keys")
for i in d.keys():
    print(i, d[i])

{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}
dict_keys(['Name', 'Roll', 'State'])
dict_values(['Deepti', 12, 'New Jersey'])
Printing the String format of the Dictionary
{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}
e
Printing Dictionary Using Keys
Name Deepti
Roll 12
State New Jersey

In [3]:
d = {"Name":"Deepti", "Roll":12, "State":"New Jersey"}
print(d)

print(d.items())

if "Roll" in d.keys() : print(d["Roll"])
else: print("Roll not available")
    
if "country" in d.keys() : print(d["country"])
else: print("country not available")

{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}
dict_items([('Name', 'Deepti'), ('Roll', 12), ('State', 'New Jersey')])
12
country not available

In [4]:
# Dictionary methods - Using items()

In [6]:
d = {"Name":"Deepti", "Roll":12, "State":"New Jersey"}
print(d)

print(d.items())

print("\nUsing for Loop with items()")
for I in d.items():
    print(I)
    
print("\nUsing for Loop with items()")
for I in d.items():
    print("Key - %s\tValue -%s" %(I[0], I[1]))

{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}
dict_items([('Name', 'Deepti'), ('Roll', 12), ('State', 'New Jersey')])

Using for Loop with items()
('Name', 'Deepti')
('Roll', 12)
('State', 'New Jersey')

Using for Loop with items()
Key - Name	Value -Deepti
Key - Roll	Value -12
Key - State	Value -New Jersey

In [7]:
d = {"Name":"Deepti", "Roll":12, "State":"New Jersey"}
print(d)

print("\nUsing for Loop with items()")
for x , y in d.items():
    print(x , y)

{'Name': 'Deepti', 'Roll': 12, 'State': 'New Jersey'}

Using for Loop with items()
Name Deepti
Roll 12
State New Jersey

In [8]:
# Comparison of Dictionary variables - Using == and !=

In [11]:
d1 = {"New Jersey" :12, "Mumbai" :12, "Kashi" :12}
d2 = {"New Jersey" :13, "Mumbai" :13, "Kashi" :13}
d3 = {"Kashi" :12, "New Jersey" :12, "Mumbai" :12}
d4 = {"New York" :12, "Mumbai" :12, "Kashi" :12}

print(d1 == d2)
print(d1 == d3)
print(d1 == d4)

False
True
False

In [12]:
d1 = {"New Jersey" :12, "Mumbai" :12, "Kashi" :12}
d2 = {"New Jersey" :13, "Mumbai" :13, "Kashi" :13}
d3 = {"Kashi" :12, "New Jersey" :12, "Mumbai" :12}
d4 = {"New York" :12, "Mumbai" :12, "Kashi" :12}

print(d1>d2)

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [13]:
# Nested Dictionaries

In [15]:
s1 = {"name" : "Shiv", "age" : 19}
s2 = {"name" : "Shyam", "age" : 20}
s3 = {"name" : "Ram", "age" : 18}
s4 = {"name" : "Som", "age" : 19}

stud = {1:s1, 2:s2, 3:s3, 4:s4}

print(stud)

print("\nUsing Loops\n")
for s in stud:
    print(s, stud[s])

{1: {'name': 'Shiv', 'age': 19}, 2: {'name': 'Shyam', 'age': 20}, 3: {'name': 'Ram', 'age': 18}, 4: {'name': 'Som', 'age': 19}}

Using Loops

1 {'name': 'Shiv', 'age': 19}
2 {'name': 'Shyam', 'age': 20}
3 {'name': 'Ram', 'age': 18}
4 {'name': 'Som', 'age': 19}

In [16]:
s1_personal_details = {"name":"Shiv", "age":19, "city":"Kashi"}
s2_personal_details = {"name":"Shyam", "age":20, "city":"Mathura"}
s3_personal_details = {"name":"Ram", "age":18, "city":"Ayodhya"}
s4_personal_details = {"name":"Som", "age":19, "city":"Kailash"}

s1_10_12_grad = {10:75, 12:81, "Grad":72}
s2_10_12_grad = {10:66, 12:60, "Grad":62, "PGrad":58}
s3_10_12_grad = {10:85, 12:61}
s4_10_12_grad = {10:55, 12:57, "Grad":73}

s1 = [s1_personal_details, s1_10_12_grad]
s2 = [s2_personal_details, s2_10_12_grad]
s3 = [s3_personal_details, s3_10_12_grad]
s4 = [s4_personal_details, s4_10_12_grad]

stud = {1:s1, 2:s2, 3:s3, 4:s4}

print(stud)

print("\nUsing Loops\n")
for s in stud:
    print(s, stud[s])

{1: [{'name': 'Shiv', 'age': 19, 'city': 'Kashi'}, {10: 75, 12: 81, 'Grad': 72}], 2: [{'name': 'Shyam', 'age': 20, 'city': 'Mathura'}, {10: 66, 12: 60, 'Grad': 62, 'PGrad': 58}], 3: [{'name': 'Ram', 'age': 18, 'city': 'Ayodhya'}, {10: 85, 12: 61}], 4: [{'name': 'Som', 'age': 19, 'city': 'Kailash'}, {10: 55, 12: 57, 'Grad': 73}]}

Using Loops

1 [{'name': 'Shiv', 'age': 19, 'city': 'Kashi'}, {10: 75, 12: 81, 'Grad': 72}]
2 [{'name': 'Shyam', 'age': 20, 'city': 'Mathura'}, {10: 66, 12: 60, 'Grad': 62, 'PGrad': 58}]
3 [{'name': 'Ram', 'age': 18, 'city': 'Ayodhya'}, {10: 85, 12: 61}]
4 [{'name': 'Som', 'age': 19, 'city': 'Kailash'}, {10: 55, 12: 57, 'Grad': 73}]

In [17]:
# User defined functions (UDF) in Python

In [18]:
print("A")
print("B")
print("C")

print("\n")

A
B
C

In [19]:
# Create a function: name should not be existing keywords

def f(): # function header
    print("B") # function body


print("A")
f() # function call
print("C")

print("\n")

A
B
C

In [20]:
print("Enter A Number: ")
n = int(input())

if n%2 == 0 : print("Even")
else : print("Odd")
    
print("\n")

Enter A Number:
13
Odd